<template>
<!-- <div class="content scrolling" style="padding:0px"> -->
  <div class="ui segment basic">
    <div style="margin:10px 5px">
      <div class="ui top attached tabular menu">
        <a :class="{'item':true,'active':menu}" @click="menu = true"><i class="edit yellow icon"></i>Main</a>
        <a :class="{'item':true,'active':!menu}" @click="menu = false"><i class="file image blue icon"></i>image</a>
        <div class="right menu">
          <div class="ui top right pointing dropdown item" tabindex="0" style="padding:0px" @click="rightmenu = !rightmenu">
            <i class="ellipsis horizontal large link yellow icon"></i>
            <div :class="{'menu transition slide down':true,'in':rightmenu,'out':!rightmenu}" tabindex="-1" style="display:block !important;margin-top:-3px">
            <a class="item" @click='update(input)'><i class="save green icon"></i>Save</a>
            <a class="item" @click="deleteproduct()"><i class="trash red icon"></i>Delete</a>
          </div>
          </div>
        </div>
      </div>
      <mainform v-if="menu"></mainform>
      <imageform v-if="!menu" @picture="selectfile"></imageform>
          <!-- <div title="Delete" class="ui red icon button" @click="deleteproduct()"><i class="trash icon"></i></div> -->
    </div>
    <div class="fluid ui green button" @click='update(input)'><i class="save icon"></i>Save Edit</div>
  </div>
<!-- </div> -->
</template>

<script>
import mainform from './main'
import imageform from './other'
import {
  mapGetters
} from 'vuex'
import api from '@/plugins/api'
export default {
  name: 'edit',
  data() {
    return {
      menu: true,
      rightmenu:false,
      file: [],
      mainImg:''
    }
  },
  components: {
    mainform,
    imageform
  },
  computed: {
    ...mapGetters(['modal' , 'show']),
    input() {
      return this.modal.input
    }
  },
  methods: {
    selectfile(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      for (let i = 0; i < files.length; i++) {
        // this.createImage(files[i])
        this.file.push(files[i])
      }
    },
    // createImage(file) {
    //   var image = new Image();
    //   var reader = new FileReader();
    //   var vm = this;
    //   reader.onload = (e) => {
    //     vm.image = e.target.result;
    //   };
    //   reader.readAsDataURL(file);
    // },
    update(input) {
      const formdata = new FormData();
      formdata.append('name', input.name);
      // if (this.validate(this.file) === "") {
      for (let i in this.file) {
        formdata.append('files', this.file[i]);
      }
      formdata.append('mainImg', undefined);
      // }
      Object.assign(input, {
        oldimages: []
      })
      for (let n = 0; n < this.input.image.length; n++) {
        input.oldimages.push(this.input.image[n].name)
      }
      if (this.input.name != '' && this.input.price != '' && this.input.category != '' && this.input.detail != '') {
        api().put('/product/' + input._id, input)
          .then((data) => {
            api().post('/upload/' + data.data._id, formdata)
              .then((resp) => {
                this.file = '';
                this.$store.commit('modalAssign', {
                  open: false,
                  input: {}
                })
              })
              .catch((err) => {
                console.log(err);
              })
              this.$store.commit('showAssign',data.data)
          })
          .catch((error) => {
            console.log(error);
          })
      }
    },
    validate(file) {
      const MAX_SIZE = 100000000000;
      const allowedTypes = ["image/jpeg", "image/png", "image/gif"];

      if (file.size > MAX_SIZE) {
        return "Max size: " + MAX_SIZE / 1000 + "mb";
      }
      if (!allowedTypes.includes(file.type)) {
        return "Not an image " + file.name;
      }
      return "";
    },
    deleteproduct() {
      api().delete('/product/' + this.input._id)
        .then(() => {
          this.$router.push('/product')
        })
        .catch((err) => {
          console.log(err);
        })
    },
  }
}
</script>
