<template>
<div class="content scrolling" style="padding:10px">
  <div class="ui segment basic">
    <div class="ui grid">
        <!-- <h1 class="ui yellow huge label">EDIT YOUR PRODUCT</h1> -->
        <div class="" style="width:100%;margin-top:20px">
          <div class="ui form">
            <div class="ui two column grid">
              <div class="column">
                <label>Product Name</label>
                <input type="text" v-model="input.name" name="name">
              </div>
              <div class="column">
                <label>Details</label>
                <input type="text" v-model="input.detail" name="detail">
              </div>
            </div>
            <div class="ui two column grid">
              <div class="column">
                <label>Price</label>
                <input type="number" v-model="input.price" name="price">
              </div>
              <div class="column">
                <label>Type</label>
                <autocomplete @global-event="getTags" :name="input.tags[input.tags.length - 1].name" :options="{ uri: '/category/items/', addNew: '/category' }"></autocomplete>
              </div>
            </div>
            <div class="ui column grid" style="padding:14px">
              <div class="ui labels">
                <a class="ui label" v-for="tag in input.tags">
                  <i class="x red link icon" @click="deltag(tag.name)"></i>{{tag.name}}
              </a>
            </div>
            </div>
          </div>
          <br>
        </div>
    </div>
  </div>
</div>
</template>


<script>
import api from '@/plugins/api'
import autocomplete from '../../autocomplete'
import { mapGetters } from 'vuex'

export default {
  name: 'editproduct',
  props: ['image'],
  data() {
    return {
      products: [],
      error: '',
      pimage: [],
      file: '',
    }
  },
  components: {
    autocomplete
  },
  computed: {
    ...mapGetters(['modal']),
    input () {
      return this.modal.input
    }
  },
  methods: {
    getTags(payload) {
      if (this.input.tags[0]._id === '') {
        this.input.tags.splice(0, 1)
      }
      const {
        length
      } = this.input.tags;
      const id = length + 1;
      const found = this.input.tags.some(el => el._id === payload._id);
      if (!found) this.input.tags.push({
        _id: payload._id,
        name: payload.name
      });
    },
    deltag(tag) {
      for(let i = 0 ; i < this.input.tags.length ; i++ ) {
        if(this.input.tags[i].name === tag) {
          this.input.tags.splice(i , 1)
        }
      }
    }
  }
}
</script>
