<template>
  <div class="content scrolling" style="padding:0px">

<div class="ui grid" style="margin:10px">
  <div class="four wide computer eight wide mobile column">
    <div class="ui link card">
        <div class="image">
          <img :src="input.image[0].name">
        </div>
        <label for="input" class="ui dimmer transition visible active" style="display: flex !important;">
          <div class="content">
            <h4 class="ui inverted icon header">
              <i class="plus icon"></i>
              Add images
            </h4>
          </div>
        </label>
        <input id="input" type="file" multiple style="display:none;" @change="selectfile">
      </div>
      </div>


      <div v-for="(pic, index) in input.image" class="four wide computer eight wide mobile column">
      <div class="ui link card" @mouseover="dim[index].status = true" @mouseout="dim[index].status = false">
        <div class="ui image">
          <!-- <div v-if="index === 0" class="ui ribbon red label" style="">main</div> -->
          <img :src="pic.name">
        </div>
        <div :class="{'ui dimmer transition':true,'hidden':!dim[index].status, 'animating in fade visible active':dim[index].status}" :style="{'display': (dim[index].status ? 'flex !important': 'none')}">
          <div class="content">
            <div>
              <h4 v-if="index === 0" class="ui inverted icon header">
                <i class="star yellow icon"></i>
                This is main image.
              </h4>
            </div>
            <div v-if="index != 0">
              <div title="Set main image" class="circular ui yellow icon button" @click="mainpic(index)"><i class="star icon"></i></div>
              <div title="delete" class="circular ui red icon button" @click="" style="margin-left:10px"><i class="trash icon"></i></div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
  </div>
</template>

<script>
import api from '@/plugins/api'
import { mapGetters } from 'vuex'

export default {
  name: 'imageproduct',
  data() {
    return {
      mainImg:'',
      file:[],
      image:[],
      dim:[]
    }
  },
  created() {
    for (let i in this.modal.input.image) {
      this.dim.push({ status: false })
    }
  },
  computed: {
    ...mapGetters(['modal']),
    input () {
      return this.modal.input
    }
  },
  methods: {
    selectfile(pic) {
      this.$emit('picture', pic)
    },
    mainpic(index) {
      let img = this.modal.input.image
      let save = img[index]
      img.splice([index], 1)
      this.dim.splice([index], 1)
      img.unshift(save)
      this.dim.push({ status: false })
    }
  }
}
</script>
