<template>
<div class="ui basic segment">
  <h2>Please enter your password to continue.</h2>
  <div class="ui input">
    <input type="text" placeholder="Password">
  </div>
  <div class="ui right floated green button" @click="submit">Submit</div>
  <div class="ui right floated red button" @click="cancel">Cancel</div>
</div>
</template>

<script>
export default {}
</script>
