<template>
  <div class="ui segment" :style="{'overflow': 'hidden','position': 'relative','width': '100%','height': height,'padding':'0px'}">
    <div class="ui left internal attached rail btnprenex" @click="prev()">
      <div class="ui segment verticalalignmiddle" style="float: left;color:white;opacity: 0.7">
        <i class="angle left icon huge"></i>
      </div>
    </div>
    <div class="ui right internal attached rail btnprenex" @click="next()">
      <div class="ui segment verticalalignmiddle" style="float: right;color:white;opacity: 0.7">
        <i class="angle right icon huge"></i>
      </div>
    </div>
    <div class="slide" ref="divSlide" :style="{'height': '100%'}" @mouseover="stop()" @mouseleave="continue_auto()" >
      <img v-for="(i, index) in srcImg" :src="i" ref="img" height="100%" width="100%">
    </div>
  </div>
</template>

<script>
export default {
  name: 'SlideImage',
  props: ['imgs', 'height'],
  data() {
    return {
      img: 0,
      auto: [],
      pos: 0,
      right: true,
      Negtive: 1,
      timer: [],
      click: true,
      amount: 0,
      run: true,
      runing: false,
      srcImg: []
    }
  },
  created() {
    this.srcImg = this.imgs
    this.amount = this.imgs.length
  },
  mounted() {
    this.timeOut()
  },
  methods: {
    next() {
     if (this.click && !this.runing) {
        this.Negtive = 1
        this.slideAuto()
        this.click = false
      }
    },
    prev() {
      if (this.click && !this.runing) {
        this.Negtive = -1
        this.slideAuto()
        this.click = false
      }
    },
    timeOut() {
      this.Negtive = 1
      if (this.img === this.amount) {
        this.img = 0
      }
      if (this.img === 0) {
        this.img = this.amount
      }
      this.$refs.img[this.img % this.amount].style.display = 'block'
      this.$refs.img[this.img % this.amount].style.zIndex = '1'
      for (let s in this.auto) {
        window.clearInterval(this.auto[s])
      }
      for (let s in this.timer) {
        clearTimeout(this.timer[s])
      }
      this.runing = false
      if (this.run){
        this.timer.push(setTimeout(() => {
          this.slideAuto()
        }, 5000))
      }
    },
    slideAuto() {
      this.pos = 0
      this.auto.push(setInterval(() => {
        if (this.pos >= 100) {
          this.$refs.img[this.img % this.amount].removeAttribute("style")
          this.img++
          this.pos = 0
          this.timeOut()
          this.click = true
        } else if (this.pos <= -100) {
          this.$refs.img[this.img % this.amount].removeAttribute("style")
          this.img--
          this.pos = 0
          this.timeOut()
          this.click = true
        } else {
          this.runing = true
          if (this.pos < 1 && this.pos > -1) {
            this.$refs.img[(this.img - (1 * this.Negtive)) % this.amount].style.display = 'none'
          }
          this.$refs.img[(this.img + (1 * this.Negtive)) % this.amount].style.display = 'block'
          this.pos += (1 * this.Negtive)
          this.$refs.img[this.img % this.amount].style.right = this.pos + '%'
          this.$refs.img[(this.img + (1 * this.Negtive)) % this.amount].style.right = (this.pos - (100 * this.Negtive)) + '%'
          this.$refs.img[(this.img - (1 * this.Negtive)) % this.amount].style.right = (this.pos + (100 * this.Negtive)) + '%'
      }

      }, 1))
    },
    stop() {
      this.run = false
      for (let s in this.timer) {
        clearTimeout(this.timer[s])
      }
    },
    continue_auto(){
      this.run = true
      if (!this.runing){
        this.timeOut()
      }
    },
  },
  beforeDestroy () {
    for (let s in this.auto) {
      window.clearInterval(this.auto[s])
    }
    for (let s in this.timer) {
      clearTimeout(this.timer[s])
    }
  }
}
</script>

<style scoped>
.segment {
  background-color: transparent;
  border: none !important;
}
.btnprenex {
  max-width: 50px;
  z-index: 2;
  top: 0px;
  position:absolute;
  min-height: 100%;
  cursor: pointer;
}

.btnprenex .segment {
  background-color: transparent;
  padding: 0px;
  border: none;
  box-shadow: none;
}

.btnprenex .segment i {
  cursor: pointer;
}

.btnprenex:hover .segment {
  opacity: 1 !important;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  position: absolute;
  left: auto;
  right: 0px;
  display: none;
}
</style>
