<template>
<div>
  <createform v-if="create" @close="close"></createform>
  <div class="ui grid">
    <div class="sixteen wide computer sixteen wide mobile column" style="margin-top:-1px">
      <div class="row" style="">
        <div class="" style="height:150px;background-color:rgb(250,200,0)">
          <div class="ui header" style="position:absolute;transform: translate(25%, 5%);z-index:14;">
            <div class="ui segment" style="margin:0px;min-height:190px;width:190px;border:solid 5px rgb(255, 255, 255);border-radius:50%" v-show="loading">
              <div class="ui active loader" style="z-index:1"></div>
            </div>
            <img :src="(show.picture)" v-show="!loading" @load="loading = false" class="ui circular image" style="height:190px;width:auto;border:solid 5px rgb(255, 255, 255)">
            {{show.name}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui grid">
        <div class="sixteen wide computer sixteen wide tablet column computer tablet only" style="margin-top:0px;">
          <div class="ui secondary pointing menu">
            <div style="width:350px"></div>
            <a v-for="(i, index) in hmenu" :class="{'item hidescroll': true, 'active': i}" style="overflow:scroll" @click="swapHmenu(index)">{{index}}</a>
          </div>
          </div>
        <div class="sixteen wide mobile column mobile only" style="margin-top:80px;">
          <div class="ui secondary pointing menu">
            <a v-for="(i, index) in hmenu" :class="{'item': true, 'active': i}" @click="swapHmenu(index)">{{index}}</a>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <storeform v-if="hmenu.Store" @close="close"></storeform>
        <editform v-if="hmenu.Profile"></editform>
      </div>
    </div>

  </div>

</div>
</template>

<script>
import api from '@/plugins/api'
import storeform from '../store/'
import createform from '../store/create'
import editform from './edit'
import {
  mapGetters
} from 'vuex'
export default {
  name: 'profile',
  validator(data) {
    return /^\d+$/, test(data.params.id)
  },
  data() {
    return {
      hmenu: {
        Profile: true,
        Store: false,
        Receipt: false
      },
      create: false,
      loading:true
    }
  },
  created() {
    this.getRow()
  },
  components: {
    storeform,
    createform,
    editform
  },
  computed: {
    ...mapGetters(['show'])
  },
  methods: {
    getRow() {
      api().get('/contact/' + this.$route.params.id)
        .then((res) => {
          this.$store.commit('showAssign', res.data)
        })
        .catch((error) => {

        });
    },
    swapHmenu(index) {
      for (let i in this.hmenu) {
        if (i === index) {
          this.hmenu[i] = true
        } else {
          this.hmenu[i] = false
        }
      }
    },
    close(c) {
      this.create = c
    },
  }
}
</script>
