<template>
  <div class="ui form  dimmer modals page transition visible active" style="display: flex !important;animation-name: fadeIn;animation-duration: 0.5s;">
    <div class="ui standard test modal scrolling transition visible active" style="display: block !important;width:40%">
      <div class="fluid ui right labeled left icon input" style="margin:20px 20px 20px 20px;">
        <i class="tags blue icon"></i>
        <input type="text" placeholder="Enter type" v-model="name">
        <a class="ui tag blue label" @click="input(name)">
          Add Type
        </a>
      </div>
        <div align="center">
      <div class="ui red button" @click.prevent="close()">Close</div>
      <br><br>
    </div>
    </div>
    </div>
</template>


<script>
import api from '@/plugins/api'

export default {
  name:'addtype',
  data() {
    return {
      name:''
      }
    },
    methods: {
      close() {
        this.$emit("close", false)
      },
      input() {
        let item = {name:this.name}
        api().post('/category',item)
        .then(res => {
          this.$emit("close", false)
        })
        .catch((err) => {
          console.log(err);
        })
      }
    }
}
</script>
