<template>
<div class="ui form dimmer modals page transition visible active" style="display: flex !important;animation-name: fadeIn;animation-duration: 0.5s;">
  <div class="ui standard test modal scrolling transition tiny visible active" style="display: block !important;">
    <div class="" style="padding:20px 20px 60px 20px;">
    <h1>Delete</h1>
    <hr>
    <h3>Are you sure you want to delete this item?</h3>
    <hr><br>
    <button class="ui right floated red button" @click="confirm">Delete</button>
    <button class="ui left floated button" @click.prevent="close()">Cancel</button>
  </div>
  </div>
</div>
</template>

<script>
export default{
  name:'confirmdelete',
  methods: {
    close() {
      this.$emit("close", false)
    },
    confirm() {
      this.$emit("close", true)
    }
  }
}

</script>
