<template>
<div class="ui form  dimmer modals page transition visible active" style="display: flex !important;animation-name: fadeIn;animation-duration: 0.5s;">
  <div class="ui standard test modal scrolling transition visible active" style="display: block !important;width:40%">
    <div class="ui horizontal divider header">
      <div align="left">
        <div class="ui grey label">All your E-mails</div>
      </div>
      <div v-for="(mail,index) in show.items">
        <div class="ui divided selection list">
          <a class="item">
            {{mail.name}}
            <button class="circular ui right floated icon button" @click="delemail(mail)">
              <i class="red icon x"></i>
            </button>
            <button class="ui right floated icon button" @click="showedit = true;showadd = false;select(mail)">
              <i class="yellow icon edit"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="error" align="center">
        <div class="ui pointing below red basic label" v-if="errors.hasOwnProperty('email')">
          {{ errors.email[0] }}
        </div>
      </div>
      <br><br>
      <div class="fluid ui action input" v-if="showadd">
        <input type="text" v-model="email.name" placeholder="Enter your E-mail">
        <button class="ui blue button" @click="add(email);">Add</button>
      </div>
      <div class="fluid ui action input" v-if="showedit">
        <input type="text" v-model="ed.name" placeholder="Edit your E-mail">
        <button class="ui yellow button" @click="edit(ed);showedit = false;">Edit</button>
      </div>
      <br>
      <div>
        <div class="ui right floated red button" @click.prevent="close()">Close</div>
        <div class="ui left floated blue button" @click="showadd = !showadd;showedit = false;">Add on</div>
      </div><br><br>
    </div>
  </div>
</div>
</template>

<script>
import emailv from '@/assets/js/utils/checkEmailExist'
import validator from '@/assets/js/utils/validator'
import {
  mapGetters
} from 'vuex'
import api from '@/plugins/api'
export default {
  name: 'editmail',
  data() {
    return {
      email: {
        type: 'email',
        name: ''
      },
      ed: {
        type: '',
        name: '',
        _id: ''
      },
      se: '',
      showadd: false,
      showedit: false,
      errors: {}
    }
  },
  computed: {
    ...mapGetters(['auth', 'show'])
  },
  methods: {
    close() {
      this.$emit("close", false)
    },
    add(email) {
        this.errors = {}
      emailv.checkEmail(email.name).then((rs) => {
          this.errors = rs
          if (rs.emailCorrect) {
            api().post(`/contact/${this.$route.params.id}/items`, email)
            .then((res) => {
              this.$store.commit('showAssign', res.data)
              this.showadd = false
              this.errors = {}
            })
            .catch((err) => {
              this.errors = err.response.data
            })
          }
      })
      .catch(err => {
        this.errors = err.items
        return
      })
    },

    edit(ed) {
      api().put(`/contact/${this.$route.params.id}/items/${ed._id}`, ed)
        .then((res) => {
          this.$store.commit('showAssign', res.data)
        })
        .catch((err) => {
          this.errors = err.response.data
        })
    },
    select(se) {
      this.ed.name = se.name
      this.ed.type = se.type
      this.ed._id = se._id
    },
    delemail(ed) {
      api().delete(`/contact/${this.$route.params.id}/items/${ed._id}`)
        .then((res) => {
          this.$store.commit('showAssign', res.data)
          console.log('Delete success');
        })
        .catch((err) => {
          this.errors = err.response.data
        })
    }
  }
}
</script>
