<template>
  <div :class="{ 'ui dimmer modals page transition': modal.open, 'visible active': modal.open }" style="display: flex !important;">
    <div :class="{ 'ui standard modal scrolling transition': modal.open, 'tiny': (modal.size == 'tiny'), 'small': (modal.size == 'small'), 'visible active': modal.open }" style="display: block !important;">

      <i @click="modal.open=false"class="close icon"></i>
      <component :is="modal.component"></component>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    computed: {
      ...mapGetters (['modal'])
    }
  }
</script>
