<template>
<div class="ui grid" style="margin-top:-15px">
  <div class="row" style="padding-top:0">
  <div class="sixteen wide column " style="padding:0px">
      <h2 class="ui icon inverted yellow header" style="z-index:10;position:absolute;transform:translate(80%,70%);width:40%">
  <i class="search yellow icon" style="text-shadow: 2px 2px #000000"></i>
  <div class="content" style="text-shadow: 2px 2px #000000">
    Search For Food
    <div class="sub header" style="color:yellow;text-shadow: 2px 2px #000000">Allowing you to search for the food you need at any time.</div>
  </div>
</h2>
    <div @keydown.enter="search" class="ui left icon input" style="z-index:10;position:absolute;transform:translate(80%,600%);width:40%">
      <i class="search icon"></i>
      <input v-model="inputsearch" type="text" placeholder="Search...">
    </div>
  </div>
  <slideimage :imgs="srcImg" :height="'400px'"></slideimage>
  <div class="sixteen wide column" style="padding:0px">
    <itemform :item="item"></itemform>
  </div>
</div>
  <div class="row">
    <div class="ten wide column">

    </div>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
import slideimage from './tools/slideImage'
import itemform from './homepage/product'
import { mapGetters } from 'vuex'

export default {
  name: 'Homepage',
  components: {slideimage,itemform},
  computed: {
    ...mapGetters(['item'])
  },
  created() {
    this.getRows()
  },
  data() {
    return {
      inputsearch: '',
      srcImg: ['https://lh3.googleusercontent.com/u/1/d/1kc0swqf4gXCmnYNnWbj4_c0JhKG_XT2g', 'https://lh3.googleusercontent.com/u/1/d/1cyqP5t_TGOP5cSt6D67WxXKBVSasFPoq', 'https://lh3.googleusercontent.com/u/1/d/1dWUTi5XdYSSY9w1x-ly0YGRaq-oM4rg1']

    }
  },
  methods: {
    search() {
      if (this.inputsearch) {
        this.$router.push('/search?search=' + this.inputsearch);
      }
    },
    getRows() {
      api().get('/product')
      .then(res => {
        this.$store.commit('itemAssign', res.data.data)
      })
      .catch((err) => {
        console.log(err);
      })
    },
  }
}
</script>
