<template>
  <!-- <div v-outside="close" :class="{ 'ui fluid search selection dropdown selection': true, 'active visible': opt.toggle, 'loading': opt.loading }"> -->
  <div :class="{ 'ui fluid search selection dropdown selection': true, 'active visible': opt.toggle, 'loading': opt.loading }">
    <i class="dropdown icon" @click="opt.toggle = !opt.toggle"></i>
    <input ref='search' class="search" autocomplete="off" tabindex="0" v-model="opt.search" @click="api($event)" @keyup="api($event)" @keyup.enter="handleEnter($event)" @keyup.up="handleKeyUp($event)" @keyup.down="handleKeyDown($event)" :placeholder="name ? '' : opt.placeholder">
    <div :class="{ 'text': true, 'filtered': opt.filtered }" @click="focus()">{{ name }}</div>
    <div :class="{ 'menu transition': true,  'visible': opt.toggle, 'hidden': !opt.toggle }" tabindex="-1" style="display: block !important;">
    <div v-for="(item, index) in items" @click="ok(item)" :class="{ 'item': true, 'active selected': index === selectedIndex }">{{ item.name }}</div>
    </div>
  </div>
</template>

<script>
import api from '@/plugins/api'
// import outside from '@/assets/js/utils/outside.js'
// import serialize from '@/utils/query.js'
export default {

  props: ['uri', 'value', 'name', 'options'],

  data () {
    return {
      input: {name: '', search: ''},
      rows: [],
      timeout: null,
      selectedIndex: -1,
      opt: { search: '', toggle: false, filtered: false, loading: false, create: {status: false, project: ''}, placeholder: 'ค้นหา . . .', uri: '', obj: [] },
      query: { params: '' }

    }
  },

  computed: {

    items () {
        return this.rows.filter(row => {
        return row.name.toLowerCase().includes(this.opt.search.toLowerCase())
      })
    }
  },

  created () {
    Object.assign(this.opt, this.options)
  },

  methods: {

    focus() {
      this.$refs.search.focus();
      this.opt.toggle = true
    },

    api(e) {

      if (e.key == 'Enter' || e.key == 'ArrowUp' || e.key == 'ArrowDown') return false;

      Object.assign(this.opt, {toggle: true, filtered: true, loading: true})
      this.$emit('input', e.target.value)

      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        if (this.opt.uri != ""){

          api().get(this.opt.uri + '?q=' + e.target.value + '&' + this.query.params).then((response) => {

            this.rows = response.data
            this.selectedIndex = -1

            Object.assign(this.opt, {loading: false})
          })

        } else if (this.opt.obj != ""){

          this.rows = this.opt.obj
          this.selectedIndex = -1
          Object.assign(this.opt, {loading: false})

        }
      }, e.target.value ? 500 : 0)

    },

    ok (obj) {
      this.$emit('global-event', obj)
      Object.assign(this.opt, {search: '', toggle: false, filtered: false})
    },

    handleEnter(e) {
      e.preventDefault();

      var obj = this.items[this.selectedIndex]
      if (obj) {
        this.$emit('input', obj.id)
        this.$emit('global-event', obj)
      }

      Object.assign(this.opt, {toggle: false, filtered: false})
    },

    handleKeyUp(e) {
      e.preventDefault();

      if (this.selectedIndex <= 0)
      {
      this.selectedIndex = this.items.length - 1;
      } else if (this.selectedIndex > 0 && this.selectedIndex <= this.items.length - 1) {
      this.selectedIndex--;
      }
    },

    handleKeyDown(e) {
      e.preventDefault();

      if (this.selectedIndex < 0 || this.selectedIndex === this.items.length - 1)
      {
      this.selectedIndex = 0;
      } else if (this.selectedIndex >= 0 && this.selectedIndex < this.items.length - 1) {
      this.selectedIndex++;
      }
    },

    close(e) {
      if (!this.$el.contains(e.target)) {
        Object.assign(this.opt, {toggle: false, filtered: false})
      }
    }
  },

  // directives: { outside }
}
</script>
