body{
  background-color: #f8f8f8 !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.verticalalignmiddle {
  top: 50%;transform: translateY(-50%);position: absolute;
}
.error{
  position:absolute;z-index:20;background-color:transparent;animation-name: fadeIn;animation-duration: 0.4s;
}
.error .segment{
  border:0px;box-shadow: 0px 0px 0px 0px;padding: 0px;background-color:transparent;
}
.hidescroll::-webkit-scrollbar {
  width: 0px;height: 0px;
}
.heightscroll::-webkit-scrollbar {
  height: 0px;
}
.widthscroll::-webkit-scrollbar {
  width: 0px;
}
/* .diviconinstagram{
  padding: 2px 10px 3px 1px;
  width:24px; height:24px;
  background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
border-radius: .50rem;
display: inline-block;
  } */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
