<template>
  <div style="">
    <loginform v-if="sign" />
    <regisform v-if="!sign" />
    <div v-if="sign" class="ui message">
      New to us? <a style="cursor:pointer" @click="sign = false">Sign Up</a>
    </div>
    <div v-if="!sign" class="ui message">
      Have an account? <a style="cursor:pointer" @click="sign = true">Sign In</a>
    </div>
  </div>
</template>

<script>
import loginform from './login'
import regisform from './register'
export default {
  name:'sign',
  components:{ loginform,regisform },
  data() {
    return {
      sign:true
    }
  }
}
</script>
