<template>
<div style="background-color:rgba(0,0,0,0.3)">
  <div class="ui middle aligned center aligned grid">
    <div class="sixteen wide column" style="margin:20px 40px 0px">
      <h2 class="ui inverted header">SIGN IN</h2>
      <div class="ui clearing divider"></div>
        <GoogleLogin class="fluid ui red button" :params="params" :onSuccess="onSuccess"><i class="google icon"></i>Login with google</GoogleLogin>
        <button @click="checkerr = !checkerr" class="fluid ui blue button" style="background:rgb(58, 90, 152);margin-top:10px"><i class="facebook f icon"></i>Login with facebook</button>
        <h4 class="ui horizontal divider header">
          Or
        </h4>
        <div class="fluid ui icon input">
          <input v-model="email" class="" type="text" placeholder="E-mail address" style="border-radius: 25px;">
          <i class="envelope yellow icon"></i>
        </div>
        <div v-if="errors.hasOwnProperty('email')" :class="{'ui red horizontal label transition animating slide down in visible':checkerr,}" style="position:absolute;right:0px;margin-right:40px;animation-duration:0.4s">{{ errors.email[0] }}</div>
        <div class="fluid ui icon input" style="margin-top:30px">
          <input v-model="pass" class="" type="password" placeholder="Password" style="border-radius: 25px;">
          <i class="lock yellow icon"></i>
        </div>
        <div v-if="errors.hasOwnProperty('password')" :class="{'ui red horizontal label transition animating slide down in visible':checkerr,}" style="position:absolute;right:0px;margin-right:40px;animation-duration:0.4s">{{ errors.password[0] }}</div>
        <button @click="signin" class="fluid ui yellow button" style="margin-top:30px">Log in</button>
    </div>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
import GoogleLogin from 'vue-google-login';
import {
  mapGetters
} from 'vuex'
export default {
  name:'login',
  components:{ GoogleLogin },
  data() {
    return {
      email:'',
      pass:'',
      errors:'',
      checkerr:false,
      errors:{},
      params: { client_id: "103774813209-73j4q1abm2vamu3tg3c5lgqbu4ss02ko.apps.googleusercontent.com" }
    }
  },
  computed: {
    ...mapGetters(['auth', 'stores', 'share', 'basket' , 'modal']),
    nameUser() {
      return this.auth
    },
  },
  methods: {
    signin() {
      let data = {
        email: this.email,
        password: this.pass,
      }
      api().post('/auth/login', data)
        .then((res) => {
          this.email = ''
          this.pass = ''
          this.errors = ''
          this.$store.commit('authLogin', {
            ...res.data.user,
            access_token: res.data.access_token,
            refresh_token: res.data.refresh_token
          })
          this.$store.commit('modalAssign', {
            open: false,
            input: {}
          })
          api().get('/share/' + this.auth._id)
            .then(res => {
              this.$store.commit('authShare', res.data)
            })
            .catch((error) => {

            });
        })
        .catch(err => {
          this.errors = err.response.data.errors || err.response.data
          this.checkerr = true
          console.log(this.errors);
        })
    },
    onSuccess(googleUser) {
      let data = googleUser.getBasicProfile()
      let google = {
        email:data.U3,
        // password:'00000000',
        name:data.ig,
        // firstname:data.ofa,
        // lastname:data.wea,
        picture:data.Paa
      }
      console.log(data);
      api().post('/auth/google', google)
        .then((res) => {
          this.$store.commit('authLogin', {
            ...res.data.user,
            access_token: res.data.access_token,
            refresh_token: res.data.refresh_token
          })
          api().get('/share/' + this.auth._id)
            .then(res => {
              this.$store.commit('authShare', res.data)
            })
            .catch((error) => {

            });
          this.$store.commit('modalAssign', {
            open: false,
            input: {}
          })
        })
        .catch(err => {

        })
    }
  }
}
</script>
