<template>
<div style="background-color:rgba(0,0,0,0.3)">
  <div class="ui middle aligned center aligned grid">
    <div class="sixteen wide column">
      <div class="" style="margin:20px 40px 0px">
        <h2 class="ui inverted header">REGISTER</h2>
        <div class="ui clearing divider"></div>
        <div class="fluid ui icon input">
          <input v-model="sign.email" class="" type="text" placeholder="E-mail address" style="border-radius: 25px;" @keyup="checkEmail(sign.email)" @keydown="delete errors['email']">
          <i class="envelope yellow icon"></i>
        </div>
        <div v-if="errors.hasOwnProperty('email')" class="ui red horizontal label transition animating slide down in visible" style="position:absolute;right:0px;margin-right:70px;animation-duration:0.4s">{{ errors.email[0] }}</div>
        <div class="fluid ui icon input" style="margin-top:30px">
          <input v-model="sign.name" class="" type="text" placeholder="Username" style="border-radius: 25px;">
          <i class="user yellow icon"></i>
        </div>
        <div v-if="errors.hasOwnProperty('name')" class="ui red horizontal label transition animating slide down in visible" style="position:absolute;right:0px;margin-right:70px;animation-duration:0.4s">{{ errors.name[0] }}</div>
        <div class="fluid ui icon input" style="margin-top:30px">
          <input v-model="sign.password" class="" type="password" placeholder="Password" style="border-radius: 25px;">
          <i class="lock yellow icon"></i>
        </div>
        <div v-if="errors.hasOwnProperty('password')" class="ui red horizontal label transition animating slide down in visible" style="position:absolute;right:0px;margin-right:70px;animation-duration:0.4s">{{ errors.password[0] }}</div>
        <div class="fluid ui icon input" style="margin-top:30px">
          <input v-model="sign.conPass" class="" type="password" placeholder="Confirm password" style="border-radius: 25px;">
          <i class="lock yellow icon"></i>
        </div>
        <div v-if="errors.hasOwnProperty('conPass')" class="ui red horizontal label transition animating slide down in visible" style="position:absolute;right:0px;margin-right:70px;animation-duration:0.4s">{{ errors.conPass[0] }}</div>
        <button @click="Adduser(sign)" :class="{'fluid ui yellow button':true,'disabled':!check}" style="margin-top:30px">Register</button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
import checkEmailExist from '@/assets/js/utils/checkEmailExist'
import validator from '@/assets/js/utils/validator'
import {
  mapGetters
} from 'vuex'
export default {
  data() {
    return {
      sign: { email: '',name: '',password: '',conPass: '' },
      errors:{},
      error:{},
      check:true,
      canuse:false
    }
  },
  computed: {
    ...mapGetters(['auth', 'modal']),
  },
  methods: {
    Adduser(sign) {
      console.log(sign);
      this.errors = {}
      let rules = { name: 'required', email: 'required|email', password: 'required|password|charCount8', conPass: 'match' }
      validator.make(sign, rules)
       .then(()=> {
        api().post('/auth/register', sign)
          .then((res) => {
            this.$store.commit('authLogin', {
              ...res.data.user,
              access_token: res.data.access_token,
              refresh_token: res.data.refresh_token
            })
            this.$store.commit('modalAssign', {
              open: false,
              input: {}
            })
          })
          .catch(err => {
            this.error = err.response.data.errors || err.response.data
            // this.errors.push([email:'That email has already'])
          })
      })
      .catch(err => {
        this.errors = err.items
      })
    },
    checkEmail(mail) {
      if(mail != '') {
        checkEmailExist.checkEmail(mail).then(rs => {
          console.log(rs);
          this.errors = rs

        })
        .catch(err => {

        })
      }
    }
  }
}
</script>
