<template>
<div>
  <div class="ui basic segment">
    <h2 v-if="newcontact.check === 'add'">Add Contact</h2>
    <h2 v-if="newcontact.check === 'edit'">Edit Contact</h2>
    <div class="ui grid">
      <div class="row" style="padding-bottom:0px">
        <div class="six wide column">
          <autocomplete @global-event="getContactField" :name="newcontact.type" :options="{ obj:obj }"></autocomplete>
        </div>
        <div v-if="newcontact.type != 'address'" class="ten wide column" style="padding-left:0px;">
          <div class="fluid ui icon input">
            <input type="text" placeholder="" v-model="newcontact.name">
            <i v-if="newcontact.check === 'edit'" class="inverted circular paper plane link yellow icon" @click="getcontact(newcontact)"></i>
            <i v-if="newcontact.check === 'add'" class="inverted circular paper plane link blue icon" @click="getcontact(newcontact)"></i>
          </div>
        </div>
        <div v-if="newcontact.type === 'address'" class="ten wide column" style="padding-left:0px;">
          <div class="fluid ui input">
            <input type="text" placeholder="Country" v-model="newcontact.country">
          </div>
        </div>
      </div>
      <div v-if="newcontact.type === 'address'" class="row">
        <div class="sixteen wide column">
          <textarea rows="5" placeholder="Address" style="width:100%" v-model="newcontact.address"></textarea>
        </div>
        <div class="eight wide column" style="padding-top:10px">
          <div class="fluid ui input">
            <input type="text" placeholder="Zone" v-model="newcontact.zone">
          </div>
        </div>
        <div class="eight wide column" style="padding-top:10px">
          <div class="fluid ui input">
            <input type="text" placeholder="District" v-model="newcontact.district">
          </div>
        </div>
        <div class="twelve wide column" style="padding-top:10px">
          <div class="fluid ui input">
            <input type="text" placeholder="Province" v-model="newcontact.province">
          </div>
        </div>
        <div class="four wide column" style="padding-top:10px">
          <div class="fluid ui input">
            <input type="text" placeholder="Zipcode" v-model="newcontact.zipcode">
          </div>
        </div>
      </div>
      <div v-if="newcontact.type != 'address'" class="row" style="padding-top:0px">
        <div class="six wide column">
          <div class="ui pointing red label" v-if="errorT != ''">{{errorT}}</div>
        </div>
        <div class="ten wide column">
          <div class="ui pointing red label" v-if="errorN != ''">{{errorN}}</div>
        </div>
      </div>
    </div>
  </div>
  <div v-if="newcontact.type === 'address'" class="actions" style="padding-bottom:10px;margin-right:21px">
    <button v-if="newcontact.check === 'edit'" type="button" class="fluid ui yellow button" @click="getcontact(newcontact)">Edit address</button>
    <button v-if="newcontact.check === 'add'" type="button" class="fluid ui blue button" @click="getcontact(newcontact)">Add address</button>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
import autocomplete from '../../autocomplete'
import {
  mapGetters
} from 'vuex'
export default {
  name: 'contact',
  computed: {
    ...mapGetters(['modal', 'show']),
    newcontact() {
      return this.modal.input
    }
  },
  components: {
    autocomplete
  },
  data() {
    return {
      // newaddress: {
      //   type:"address",
      //   country: "",
      //   address: "",
      //   zone: "",
      //   district: "",
      //   province: "",
      //   zipcode: ""
      // },
      obj: [{
        name: 'Address'
      }, {
        name: 'Telephone'
      }, {
        name: 'Email'
      }, {
        name: 'Instagram'
      }, {
        name: 'Facebook'
      }, {
        name: 'Line'
      }, {
        name: 'Twitter'
      }],
      errorN: '',
      errorT: ''
    }
  },
  methods: {
    getContactField(data) {
      this.newcontact.type = data.name.toLowerCase()
    },
    getcontact(data) {
      this.errorN = ''
      this.errorT = ''
      if (data.name === "" && data.type != 'address') {
        this.errorN = 'Data is required'
      }
      if (data.type === '') {
        this.errorT = 'Type is required'
      }
      if (data.name && data.type != '' && data.check === 'add') {
        this.addcontact(data)
      }else if (data.name && data.type != '' && data.check === 'edit') {
        this.editcontact(data)
      }
      if (data.type === 'address' && data.check === 'add') {
        this.addcontact(data)
      }else if (data.type === 'address' && data.check === 'edit') {
        this.editcontact(data)
      }
    },
    addcontact(data) {
      delete data.check
      api().post('/contact/' + this.$route.params.id + '/items', data)
        .then((res) => {
          this.$store.commit('showAssign', res.data)
          this.$store.commit('modalAssign', {
            open: false,
            input: {}
          })
          // console.log(res);
        })
        .catch((err) => {
          // console.log(err);
        })
    },
    editcontact(data) {
      api().put('/contact/' + this.$route.params.id + '/items/' + data._id, data)
        .then((res) => {
          this.$store.commit('showAssign', res.data)
          this.$store.commit('modalAssign', {
            open: false,
            input: data
          })
        })
        .catch((err) => {
          console.log(err);
        })
    }
  }
}
</script>
