<template>
<div class="ui grid" style="padding:14px">
  <checkdel v-if="confrom" @close="close"></checkdel>
  <div class="eight wide computer sixteen wide mobile column">
    <div class="ui segment">
      <h4 class="ui horizontal divider header"><i class="card address black icon"></i>Information</h4>
      <div class="ui relaxed divided list">
        <div class="item">
          <i class="large user circle middle aligned icon"></i>
          <div class="content">
            <div class="description">Username</div>
            <a class="header">{{show.name}}</a>
          </div>
        </div>
        <div class="item">
          <i class="large user circle outline middle aligned icon"></i>
          <div class="content">
            <div class="description">Firstname&Lastname</div>
            <a class="header">{{show.firstname}} {{show.lastname}}</a>
          </div>
        </div>
        <div class="item">
          <i class="large venus mars middle aligned purple icon"></i>
          <div class="content">
            <div class="description">Gender</div>
            <a class="header">{{show.gender}}</a>
          </div>
        </div>
        <div class="item">
          <i class="large calendar alternate outline violet icon"></i>
          <div class="content">
            <div class="description">Birthday</div>
            <a class="header">{{show.birthday}}</a>
          </div>
        </div>
        <div class="item">
          <i class="large sticky note orange icon"></i>
          <div class="content">
            <div class="description">Description</div>
            <a class="header">{{show.description}}</a>
          </div>
        </div>
      </div>
      <button class="ui mini black circular icon  right floated button" @click="information(show)"><i class="cog icon"></i></button>
    </div>
  </div>
  <div class="eight wide computer sixteen wide mobile column">
    <div class="ui segment">
      <h4 class="ui horizontal divider header"><i class="id card outline yellow icon"></i>Contact</h4>
      <div class="ui relaxed divided list">
        <div class="item">
          <i class="large map marker alternate red icon"></i>
          <div class="content">
            <div class="description">Address</div>
            <a class="header" style="margin-top:5px" v-for="(address, index) in show.items" v-if="show.items[index].type === 'address'">{{address.address}} {{address.zone}} {{address.district}} {{address.province}} {{address.zipcode}} {{address.country}}<i class="x right floated red link icon" v-if="open" @click="confrom = true;iditem = address._id"></i><i class="cog right floated blue link icon" v-if="open" @click="contact(address)"></i></a>
          </div>
        </div>
        <div class="item">
          <i class="large mobile alternate black icon"></i>
          <div class="content">
            <div class="description">Telephone number</div>
            <a class="header" style="margin-top:5px" v-for="(telephone, index) in show.items" v-if="show.items[index].type === 'telephone'">{{ telephone.name }}<i class="x right floated red link icon" v-if="open" @click="confrom = true;iditem = telephone._id"></i><i class="cog right floated blue link icon" v-if="open" @click="contact(telephone)"></i></a>
          </div>
        </div>
        <div class="item">
          <i class="large mail middle aligned black icon"></i>
          <div class="content">
            <div class="description">E-mail address</div>
            <a class="header" style="margin-top:5px" v-for="(email, index) in show.items" v-if="show.items[index].type === 'email'">{{ email.name }}<i class="x right floated red link icon" v-if="open && checkmail" @click="confrom = true;iditem = email._id"></i><i class="cog right floated blue link icon" v-if="open" @click="contact(email)"></i></a>
          </div>
        </div>
        <div class="item">
          <i class="large linechat green icon"></i>
          <div class="content">
            <div class="description">Line</div>
            <a class="header" style="margin-top:5px" v-for="(line, index) in show.items" v-if="show.items[index].type === 'line'">{{ line.name }}<i class="x right floated red link icon" v-if="open" @click="confrom = true;iditem = line._id"></i><i class="cog right floated blue link icon" v-if="open" @click="contact(line)"></i></a>
          </div>
        </div>
        <div class="item">
          <i class="large facebook square blue icon"></i>
          <div class="content">
            <div class="description">Facebook</div>
            <a class="header" style="margin-top:5px" v-for="(facebook, index) in show.items" v-if="show.items[index].type === 'facebook'">{{ facebook.name }}<i class="x right floated red link icon" v-if="open" @click="confrom = true;iditem = facebook._id"></i><i class="cog right floated blue link icon" v-if="open" @click="contact(facebook)"></i></a>
          </div>
        </div>
        <div class="item">
          <i class="large instagram pink icon"></i>
          <div class="content">
            <div class="description">Instagram</div>
            <a class="header" style="margin-top:5px" v-for="(instagram, index) in show.items" v-if="show.items[index].type === 'instagram'">{{ instagram.name }}<i class="x right floated red link icon" v-if="open" @click="confrom = true;iditem = instagram._id"></i><i class="cog right floated blue link icon" v-if="open" @click="contact(instagram)"></i></a>
          </div>
        </div>
        <div class="item">
          <i class="large twitter teal icon"></i>
          <div class="content">
            <div class="description">twitter</div>
            <a class="header" style="margin-top:5px" v-for="(twitter, index) in show.items" v-if="show.items[index].type === 'twitter'">{{ twitter.name }}<i class="x right floated red link icon" v-if="open" @click="confrom = true;iditem = twitter._id"></i><i class="cog right floated blue link icon" v-if="open" @click="contact(twitter)"></i></a>
          </div>
        </div>
      </div>
      <button class="ui mini yellow circular right floated icon button" @click="open = !open;countmail(show.items)"><i class="cog icon"></i></button>
      <button class="ui mini yellow circular right floated icon button" @click="contact(newcontact)"><i class="plus icon"></i></button>
    </div>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
import checkdel from '../../models/delete'
import {
  mapGetters
} from 'vuex'
export default {
  name: 'Information',
  components:{checkdel},
  data() {
    return {
      open:false,
      confrom: false,
      checkmail:false,
      iditem:'',
      newcontact: {
        type: "",
        name: "",
        check:'add'
      },
    }
  },
  computed: {
    ...mapGetters(['auth', 'show'])
  },
  methods: {
    information(show) {
      this.$store.commit('modalAssign', {
        open: true,
        size: 'tiny',
        component: () => import('./information'),
        input: show
      })
    },
    contact(data) {
      if (data.check != 'add') {
        const check = {check:'edit'}
        Object.assign(data, check)
      }
      this.$store.commit('modalAssign', {
        open: true,
        size: 'tiny',
        component: () => import('./contact'),
        input: data
      })
    },
    close(check) {
      if (check === false) {
        this.confrom = check
      } else {
        api().delete('/contact/' + this.$route.params.id + '/items/' + this.iditem)
          .then(res => {
            this.$store.commit('showAssign', res.data)
            this.countmail(res.data)
            this.confrom = false
          })
          .catch((error) => {

          });
      }
    },
    countmail(mail){
      this.checkmail = false
      let n = 0
      for(let i = 0 ; i < mail.length ; i++) {
        if(mail[i].type === 'email') {
          n++
          console.log(n);
          if(n > 1){
            this.checkmail = true
          }
        }
      }
    }
  }
}
</script>
