<template>
<div class="ui segment basic" style="margin:14px">
  <div class="ui grid">
    <div class="row">
      <h2>Edit Information</h2>
    </div>
    <div class="row">
      <div class="column">
        <div class="fluid ui input">
          <input type="text" placeholder="Username" v-model="input.name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <div class="fluid ui input">
          <input type="text" placeholder="Firstname" v-model="input.firstname">
        </div>
      </div>
      <div class="eight wide column">
        <div class="fluid ui input">
          <input type="text" placeholder="Lastname" v-model="input.lastname">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <div class="fluid ui input">
          <div :class="{'fluid ui selection dropdown': true, 'active visible': genderDropdown}" @click="genderDropdown = !genderDropdown">
            <input v-model="input.gender" type="hidden" name="gender" value="0">
            <i class="dropdown icon"></i>
            <div class="text">{{input.gender}}</div>
            <div :class="{'menu transition': true, 'visible': genderDropdown, 'hidden': !genderDropdown}" tabindex="-1" style="display: block !important;">
              <div class="item" data-value="1" @click="input.gender = 'Male'">Male</div>
              <div class="item" data-value="0" @click="input.gender = 'Female'">Female</div>
            </div>
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="fluid ui input">
          <input type="date" placeholder="Birthday" v-model="input.birthday">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <textarea placeholder="Description" row="5" style="width:100%;height:100px" v-model="input.description"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui fluid action input">
          <input type="password" placeholder="Enter your password" v-model="password">
          <button class="ui green right labeled icon button" @click="save(input)">
            <i class="save icon"></i>
            Save
          </button>
        </div>
        <div class="ui pointing red label error" style="position:absolute" v-for="(error, index) in errors.password" v-if="index === 0">{{error}}</div>
        <div class="ui pointing red label error" style="position:absolute" v-if="errors.message">{{errors.message}}</div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
import {
  mapGetters
} from 'vuex'
export default {
  name: 'Information',
  data() {
    return {
      genderDropdown: false,
      password: '',
      errors: {},
    }
  },
  computed: {
    ...mapGetters(['modal' , 'show']),
    input() {
      return this.modal.input
    }
  },
  methods: {
    save(input) {
      this.errors = {}
      let data = {
        name: input.name,
        firstname: input.firstname,
        lastname: input.lastname,
        gender: input.gender,
        birthday: input.birthday,
        description: input.description,
        password:this.password
      }
      console.log(data);
      if (input.name != '') {
        api().put('/contact/' + this.$route.params.id, data)
              .then((res) => {
                this.password = ""
                this.$store.commit('showAssign', res.data)
                this.$store.commit('modalAssign', {
                  open: false,
                  size: 'tiny',
                  component: () => import('./information'),
                  input: {}
                })
              })
              .catch((err) => {
                this.errors = err.response.data.errors || err.response.data
              })
      }
    }
  }
}
</script>
