<template>
  <div v-if="basket.length === 0" align="center" style="margin: 250px 0px;">
    <h1>No results</h1>
    <h4>There´s nothing in your basket right now.</h4>
  </div>
<div v-else>
  <confirmdelete v-if="deleteform.status" @close="close"></confirmdelete>
  <h1 class="ui massive yellow label">SHOPPING BASKET</h1><br>
  <div class="ui segment">
    <div class="ui grid">
      <div class="ten wide computer sixteen wide mobile column">
        <div class="ui grid">
          <div class="row">
            <div class="eight wide computer six wide mobile column">PRODUCT(S)</div>
            <div class="three wide computer six wide mobile column">
              <div align="center">QUANTITY</div>
            </div>
            <div class="five wide computer four wide mobile column">
              <div align="right">PRICE/UNIT</div>
            </div>
          </div>
          <div class="row" v-for="(product,index) in basket">
            <div class="eight wide computer five wide mobile column">
              <img class="ui middle aligned small image" :src="product.img">
              {{ product.name }}
            </div>
            <div class="three wide computer eight wide mobile column">
              <div class="verticalalignmiddle" align="center">
                <div class="ui yellow icon button" @click="product.amount--;parseInt(product.amount) < 1 ? product.amount = 1: product.amount == '' ? product.amount = 1: null;update()" style="margin:auto;padding:8px;">
                  <i class="minus icon"></i>
                </div>
                <div class="ui big label">{{ product.amount }}</div>
                <div class="ui yellow icon button" @click="product.amount++;parseInt(product.amount) < 1 ? product.amount = 1: product.amount == '' ? product.amount = 1: null;update()" style="margin:auto;padding:8px;">
                  <i class="plus icon"></i>
                </div>
              </div>
            </div>
            <div class="five wide computer three wide mobile column">
              <div class="verticalalignmiddle" align="right">{{ formatNumber(product.price * product.amount) }}</div>
              <div align="right">
                <div class="ui red icon button" style="margin-top:100px;padding:4px;" @click.prevent="deleteform = {status: true, index: index}">
                  <i class="trash icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column computer only">
        <div class="ui right dividing rail">
          <div class="ui segment" style="position: sticky;z-index: 2;top: 50px;border:0px">
            <div class="ui yellow large label">{{formatNumber(sum())}}</div>
            <button class="fluid ui red inverted button">PROCEED TO PAYMENT</button><br>
            <button class="fluid ui yellow button" @click='addmore'>Add more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
</template>

<script>
import api from '@/plugins/api'
import confirmdelete from '../models/delete'
import {
  mapGetters
} from 'vuex'

export default {
  name: 'basket',
  data() {
    return {
      errors: [],
      deleteform: {
        status: false,
        index: null
      },
    }
  },
  components: {
    confirmdelete
  },
  computed: {
    ...mapGetters(['auth','basket'])
  },
  methods: {
    addmore() {
      this.$router.push('/product')
    },
    update() {
      this.$store.commit('basketAssign', this.basket)
    },
    formatNumber(num) {
      return parseFloat(num).toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + ' ฿'
    },
    sum() {
      return this.basket.reduce((pre, cur) => pre + parseFloat(cur.price * cur.amount), 0);
    },
    close(confirm) {
      if (confirm) {
        this.basket.splice(this.deleteform.index, 1)
      }
      this.deleteform = {
        status: false,
        index: null
      }
      this.update()
    },
  }
}
</script>
