<template>
<div class="ui grid" style="padding:10px 100px 20px 100px">
  <div v-if="show.length === 0" class="column" align="center" style="margin: 200px 0px 210px 0px;">
    <h1>No results</h1>
    <h4>Try searching with other words?</h4>
  </div>
  <div v-else class="column">
    <div class="row" style="margin-top:30px;margin-bottom:30px;">
      <div class="ui secondary pointing menu">
        <a v-for="(i, index) in hmenu" :class="{'item': true, 'active': i}" @click="swapHmenu(index);">{{index}}</a>
      </div>
    </div>
    <div v-if="hmenu.Product || hmenu.All && show.product.length > 0" class="row" style="width: 100%;">
      <h4 class="ui horizontal divider header">
        <i class="tags icon"></i>
        Product({{show.product.length}})
      </h4>
      <div class="ui grid" style="width: 100%;">
        <pform v-for="tables in show.product" v-if="tables.table === 'product'" :item="tables"></pform>
      </div>
    </div>
    <div v-if="hmenu.All === true && show.product.length > 8" class="row" style="margin:20px 0px">
      <div class="fluid ui yellow button" @click="swapHmenu('Product')">more...</div>
    </div>
    <div v-if="hmenu.Store || hmenu.All && show.store.length > 0" class="row" style="width: 100%;">
      <h4 class="ui horizontal divider header">
        <i class="warehouse icon"></i>
        Store({{show.store.length}})
      </h4>
      <div class="ui grid" style="width: 100%;">
        <sform v-for="(tables, index) in show.store" v-if="index < 8 || hmenu.All === false" :item="tables"></sform>
      </div>
    </div>
    <div v-if="hmenu.All === true && show.store.length > 8" class="row" style="margin:20px 0px">
      <div class="fluid ui yellow button" @click="swapHmenu('Store')">more...</div>
    </div>
    <div v-if="hmenu.User || hmenu.All && show.user.length > 0" class="row" style="width: 100%;">
      <h4 class="ui horizontal divider header">
        <i class="users icon"></i>
        User({{show.user.length}})
      </h4>
      <div class="ui grid" style="width: 100%;">
        <uform v-for="(tables, index) in show.user" v-if="index < 8 || hmenu.All === false" :item="tables"></uform>
      </div>
    </div>
    <div v-if="hmenu.All === true && show.user.length > 8" class="row" style="margin:20px 0px">
      <div class="fluid ui yellow button" @click="swapHmenu('User')">more...</div>
    </div>
  </div>
</div>
</div>
</template>



<script>
import pform from './products'
import sform from './store'
import uform from './user'
import {
  mapGetters
} from 'vuex'
import api from '@/plugins/api'

export default {
  name: 'search',
  data() {
    return {
      hmenu: {
        All: true,
        Product: false,
        Store: false,
        User: false
      },
    }
  },
  created() {
    this.getRows()

  },
  components: {
    pform,
    sform,
    uform
  },
  computed: {
    ...mapGetters(['show'])
  },
  watch: {
    '$route.query.search'() {
      this.getRows()
      this.checkType(this.show)
    }
  },
  methods: {
    getRows() {
      let url, search = this.$route.query.search
      if (search) {
        url = '/search/' + search
      } else {
        url = '/search'
      }
      api().get(url).then(res => {
          this.$store.commit('showAssign', res.data)
        })
        .catch(err => {
          console.log(err);
        })
    },
    swapHmenu(index) {
      for (let i in this.hmenu) {
        if (i === index) {
          this.hmenu[i] = true
        } else {
          this.hmenu[i] = false
        }
      }
    }
  }
}
</script>
