<template>
  <div  ref="searchForm" @keydown.enter="search" style="padding:10px" class="fluid ui left icon input">
    <i class="search yellow icon" style="margin-left:10px"></i>
    <input v-model="input" type="text" placeholder="Search...">
  </div>
</template>

<script>
export default {
  name:'searchInput',
  data() {
    return {
      input:''
    }
  },
  methods: {
    search() {
      if(this.input){
        if (window.location.pathname === '/product') {
          let filter = []
          if (this.$route.query.filter) {
            filter = this.$route.query.filter.split(",")
            let i = filter.indexOf('PdName')
            if (i > -1) {
              filter.splice(i, 2)
            }
          }
          filter.push('PdName', this.input)
          this.$router.push('/product?filter=' + filter);
        } else {
          this.$router.push('/search?search=' + this.input);
        }
      } else {
        if (this.$route.query.filter) {
          let filter = this.$route.query.filter.split(",")
          let i = filter.indexOf('PdName')
          if (i > -1) {
            filter.splice(i, 2)
          }
          this.$router.push('/product?filter=' + filter);
        }
      }
      this.input = ''
    }
  }
}
</script>
