<template>
  <div class="ui four wide column">
    <div class="column">
      <div @click="showdetail(item._id)" class="ui link card">
        <div class="image">
          <!-- <div class="ui segment" style="margin:0px;min-height:250px;">
            <div class="ui active loader" style="z-index:1"></div>
          </div> -->
          <img :src="item.image[0].name" style="max-height:400px">
        </div>
        <div class="content">
          <div class="header ellipsis">{{item.name}}</div>
          <!--<div class="meta">
            <a>Acquaintances</a>
          </div>-->
          <div class="description ellipsis">
            {{item.detail}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{item.category}}
          </span>
          <span class="left floated">
            <div class="ui yellow large label">{{item.price}} ฿</div>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'psearch',
  props: ['item'],
  methods: {
    showdetail(id) {
      this.$router.push('/product/show/'+id)
    }
  }
}
</script>
