<template>
  <div class="ui four wide column">
    <div class="column">
      <div class="ui link card">
        <div class="image">
          <img src="@/static/capture.png">
        </div>
        <div class="content">
          <a class="header">{{item.name}}</a>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{item.shoptype}}
          </span>
          <!-- <span class="left floated">
            <div class="ui yellow large label">Price ฿</div>
          </span> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ssearch',
  props: ['item']
}
</script>
