<template>
    <div class="ui four wide column">
      <div class="column">
        <div class="ui link card">
          <div class="image">
            <img src="@/static/capture.png">
          </div>
          <div class="content">
            <a class="header">{{item.name}}</a>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name:'usearch',
  props: ['item'],
  data() {
    return {

    }
  }
}
</script>
