<template>
  <div id="app">

    <vue-nav></vue-nav>

    <div class="ui menu" style="margin:0 0 2px 0;">
      <a class="toc item"><i class="head sidebar icon" style="margin-right:0;"></i></a>
    </div>

    <div class="pusher">
      <div class="full height">
        <!-- <div class="ui segment basic"> -->
          <Nuxt/>
        <!-- </div> -->
      </div>
    </div>

    <vue-footer></vue-footer>
    <vue-modal v-if="modal.open" :size="modal.size"></vue-modal>

  </div>
</template>

<script>

import { mapGetters} from 'vuex'
import vueNav from '@/components/layouts/nav.vue'
import vueFooter from '@/components/layouts/footer.vue'
import vueModal from '@/components/models/popup.vue'

export default {
  name: 'home',
  components: { vueNav, vueFooter, vueModal },
  computed: {
    ...mapGetters(['modal']),
  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
    window.addEventListener('resize', this.checkResponsive);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
    window.removeEventListener('resize', this.checkResponsive);
  },
  methods:{
      checkResponsive() {
        let rs = { computer: false, tablet: false, mobile: false, screenWidth: 0 }
        rs.screenWidth = window.innerWidth
        if (rs.screenWidth > 991) {
          rs.computer = true
        } else if (rs.screenWidth > 768){
          rs.tablet = true
        } else {
          rs.mobile = true
        }
        this.$store.commit('responsiveAssign', rs)
      },
      website(){
        this.$store.commit('authTax', { _id: 'Food' })
      }
  }
}
</script>
