<template>
<div class="content scrolling">
  <h1>Create Category</h1>
  <div class="fluid ui icon input">
    <input type="text" v-model="category.name" placeholder="Category">
    <i class="inverted circular plus blue link icon" @click="getcat(category)"></i>
  </div>
  {{input.length}}
</div>
</template>

<script>
import api from '@/plugins/api'
import {
  mapGetters
} from 'vuex'

export default {
  name: 'createCategory',
  computed: {
    ...mapGetters(['modal']),
    input() {
      return this.modal.input.tags
    }
  },
  data() {
    return {
      category: {
        name: ''
      },
      errors: '',
    }
  },
  methods: {
    getcat(data) {
      if (data.name != '') {
        for (var i = 0; i < this.input.length; i++) {
          if (this.input[i].name === data.name) {
            this.errors = 'Categories already have'
          } else if (this.input[i].name != data.name) {
            this.errors = ''
            if (this.input.length === (i + 1)) {
              api().post('/category', data)
                .then((res) => {
                  this.$store.commit('modalAssign', {
                    open: false,
                    input: {}
                  })
                })
                .catch((err) => {

                })
            }
          }
        }
      } else {
        this.errors = 'Category is required'
      }
      console.log(this.errors);
    }
  }
}
</script>
