<template>
<div>
  <div class="content scrolling">
    <label v-if="loader" class="ui inverted dimmer transition visible active" style="display: flex !important;">
      <div class="ui loader"></div>
    </label>
    <div class="ui segment basic">
      <div class="ui grid">
        <div class="column">
          <h1 style="margin:0px">CREATE YOUR PRODUCT</h1>
          <div class="ui form">
            <!-- <div class="ui negative message" v-for="error in errors">
            ERROR:Please fill in your {{ error.msg }}
          </div> -->
            <div class="ui two column grid" style="margin-top:5px;">
              <div class="error" style="margin-left:15%;">
                <div class="ui pointing below red label" v-if="check.name != ''">
                  {{ check.name }}
                </div>
              </div>
              <div class="error" style="margin-left:65%;">
                <div class="ui pointing below red label" v-if="check.cat != ''">
                  {{ check.cat }}
                </div>
              </div>
              <div class="column ui large input">
                <h5 style="margin:0px">Name</h5>
                <input type="text" placeholder="Product Name" v-model="input.name" name="name">
              </div>
              <div class="column ui large input">
                <h5 style="margin:0px">Category</h5>
                <autocomplete @global-event="getCat" :name="input.category.name" :options="{ uri: '/category', addNew: '/category' }"></autocomplete>
              </div>
            </div>
            <div class="ui one column grid" style="padding:0px;margin:14px 0px 0px">
              <h5 style="padding:0px;margin:0px">Details</h5>
              <textarea rows="5" type="text" placeholder="Details" v-model="input.detail" name="detail"></textarea>
            </div>
            <div class="ui two column grid">
              <div class="error" style="margin-left:15%;">
                <div class="ui pointing below red label" v-if="check.price != ''">
                  {{ check.price }}
                </div>
              </div>
              <div class="error" style="margin-left:65%;">
                <div class="ui pointing below red label" v-if="check.tag != ''">
                  {{ check.tag }}
                </div>
              </div>
              <div class="column ui large input">
                <h5 style="margin:0px">Price</h5>
                <input type="number" placeholder="Price" v-model="input.price" name="price">
              </div>
              <div class="column ui large input">
                <h5 style="margin:0px">Tags</h5>
                <autocomplete @global-event="getTags" :name="input.tags[input.tags.length - 1].name" :options="{ uri: '/tag/items/', addNew: '/tag' }"></autocomplete>
              </div>
            </div>
            <div class="ui two column grid">
              <div class="error" style="margin-left:15%;">
                <div class="ui pointing below red label" v-if="check.image != ''">
                  {{ check.image }}
                </div>
              </div>
              <div class="column">
                <div class="row">
                  <div v-if="!image">
                    <img class="disabled medium ui image" src="@/static/capture.png">
                  </div>
                  <div v-else align="center">
                    <img :src="image" class="medium ui image" style="max-height:400px">
                  </div>
                </div>
                <div class="row" style="margin-top:20px;">
                  <input class="ui icon button" id="newfile" type="file" style="display:none;" ref="file" @change="selectfile">
                  <label for="newfile" class="fluid ui red icon button">
                    <i class="file icon"></i>
                    Picture File</label>
                </div>
              </div>
              <div class="column">
                <div class="ui yellow message">
                  <i class="star icon"></i>
                  Your product must have at least one category and one tag for easy finding.
                </div>
                <div v-if="input.tags[0]._id != ''" class="ui basic large label" v-for="(i, index) in input.tags" style="margin-bottom:5">
                  {{i.name}}<i v-if="input.tags.length > 1" class="delete red icon" @click="input.tags.splice(index, 1)"></i>
                </div>
              </div>
            </div>
            <div class="fluid large ui submit yellow button" style="margin:20px 0px 0px 0px;" @click='store(input)'>CREATE</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
import autocomplete from '../autocomplete'
import { mapGetters } from 'vuex'
export default {
  name: 'CreateProduct',
  computed: {
    ...mapGetters(['item','modal','show'])
  },
  data() {
    return {
      input: {
        name: '',
        detail: '',
        price: '',
        category:{name:''},
        tags: [{
          name: '',
          _id: ''
        }]
      },
      id: this.$route.params.id,
      errors: [],
      image: '',
      file: '',
      loader:false,
      check:{image:'',cat:'',tag:'',price:'',name}
    }
  },
  components: {
    autocomplete
  },
  methods: {
    getTags(payload) {
      if (this.input.tags[0]._id === '') {
        this.input.tags.splice(0, 1)
      }
      const {
        length
      } = this.input.tags;
      const id = length + 1;
      const found = this.input.tags.some(el => el._id === payload._id);
      if (!found) this.input.tags.push({
        _id: payload._id,
        name: payload.name
      });
    },
    getCat(cat){
      this.input.category.name = cat.name
    },
    selectfile(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0])
      this.file = files[0]
      console.log(e);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    validate(file) {
      const MAX_SIZE = 100000000000;
      const allowedTypes = ["image/jpeg", "image/png", "image/gif"];

      if (file.size > MAX_SIZE) {
        return "Max size: " + MAX_SIZE / 1000 + "mb";
      }
      if (!allowedTypes.includes(file.type)) {
        return "Not an image " + file.name;
      }
      return "";
    },
    store(input) {
      const formdata = new FormData();
      if (this.validate(this.file) === "") {
        formdata.append('files', this.file);
      }
      formdata.append('name', input.name);
      if (this.file.name && input.category.name && input.tags[0].name && input.price && input.name != '') {
        this.loader = true
      api().post('/product', {...input, contact: { owner: { _id: this.show._id, name: this.show.name }}})
        .then((data) => {
          api().post('/upload/' + data.data._id, formdata)
            .then((res) => {
              this.file = '';
              this.$store.commit('modalAssign', {
                open: false,
                input: {}
              })
              location.reload()
            })
            .catch((err) => {

            })
            this.$store.commit('itemAssign',this.item)
        })
        .catch((err) => {
          this.errors = err.response.data.errors || err.response.data
        })
      }else {
        this.check.image = ''
        this.check.name = ''
        this.check.tag = ''
        this.check.cat = ''
        this.check.price = ''
        if (this.file === '') {
          this.check.image = 'required.'
        }
        if (input.category.name === '') {
          this.check.cat = 'required.'
        }
        if (input.tags[0].name === '') {
          this.check.tag = 'required.'
        }
        if (input.price === '') {
          this.check.price = 'required.'
        }
        if (input.name === '') {
          this.check.name = 'required.'
        }
        console.log(this.file.name);
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
