<template>
<div class="ui grid" style="margin-top:0px">
  <div class="three wide column computer only" style="margin-top:70px;">
    <div class="ui dividing rail" style="width:100%;padding:0px;z-index:6;margin-left:5px">
      <div class="ui yellow segment" style="position: sticky;top: 50px;border:0px;padding:0px">
        <div class="ui secondary vertical menu" style="width:100%;margin-top:0px">
        <!-- <div  ref="searchForm" @keydown.enter="" style="padding:10px" class="fluid ui left icon input">
          <i class="search icon" style="margin-left:10px"></i>
          <input v-model="search" type="text" placeholder="Search...">
        </div> -->
        <searchform></searchform>
          <div :class="{'ui dropdown item':true,'active visible':menu}" style="margin:0px" @mouseover="menu = true" @mouseleave="menu = false">
            <i class="dropdown icon"></i>
            Tags
            <div :class="{'menu transition':true,'slide down in visible':menu,'hidden':!menu}" tabindex="-1" :style="{display: (menu ? 'block !important' : 'none'),'max-height':'200px'}" @mouseover="menu = false">
              <a class="item" v-for="cat in cats">{{cat.name}}</a>
            </div>
          </div>
          <div :class="{'ui dropdown item':true,'active visible':tagmenu}" style="margin:0px" @mouseover="tagmenu = true" @mouseleave="tagmenu = false">
            <i class="dropdown icon"></i>
            Category
            <div :class="{'menu transition heightscroll':true,'slide down in visible':tagmenu,'hidden':!tagmenu}" tabindex="-1" :style="{display: (tagmenu ? 'block !important' : 'none'),'max-height':'295px','overflow':'scroll'}" @mouseover="tagmenu = false">
              <a class="item" v-for="tag in tags">{{tag.name}}</a>
            </div>
          </div>
          <div :class="{'ui dropdown item':true,'active visible':create}" style="margin:0px" @mouseover="create = true" @mouseleave="create = false">
            <i class="dropdown icon"></i>
            Create
            <div :class="{'menu transition':true,'slide down in visible':create,'hidden':!create}" tabindex="-1" :style="{display: (create ? 'block !important' : 'none')}" @mouseover="create = false">
              <a class="item"><i class="tags icon"></i>Tag</a>
              <a class="item" @click="category"><i class="thumbtack icon"></i>Category</a>
            </div>
          </div>

          <div class="item">
            Price range
            <div class="ui grid">
              <div class="eight wide column">
                <div class="fluid ui input">
                  <input type="text" placeholder="MIN">
                </div>
              </div>
              <div class="eight wide column">
                <div class="fluid ui input">
                  <input type="text" placeholder="MAX">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="fluid ui bottom attached yellow button" style="margin-top:10px"><i class="search icon"></i>Search</button>
      </div>
    </div>
  </div>

  <div class="thirteen wide computer fourteen wide tablet sixteen wide mobile column">
      <div align="right" style="margin-right:15px;">
        <div class="ui mini buttons">
          <div title="vertical" :class="{'ui basic tiny attached button icon':true,'active':way}" @click="way = !way">
            <i class="icon th large"></i>
          </div>
          <div title="horizontal" :class="{'ui basic tiny attached button icon':true,'active':!way}" @click="way = !way">
            <i class="icon th large list"></i>
          </div>
        </div>
      </div>
      <div style="margin:0px 20px">
    <div v-if="showtag != ''" class="ui mini button" style="border-radius:30px;margin-top:5px" v-for="showtag in showtags">
      <i class="delete red icon" @click="deltag(showtag)"></i>{{showtag}}
    </div>
    </div>
    <div style="margin-bottom:30px">
    <itemform v-if="way"></itemform>
    <horizonform v-if="!way"></horizonform>
  </div>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
import itemform from './items'
import horizonform from './items/horizon'
import searchform from '../search/input'
import { mapGetters } from 'vuex'

export default {
  name: 'product',
  components: { itemform,horizonform,searchform },
  computed: {
    ...mapGetters(['modal'])
  },
  // validator(data) {
  //   return /^\d+$/,test(data.params.id)
  // },
  data() {
    return {
      search:'',
      tags: [],
      cats:[],
      use: [],
      showtags: [],
      way:true,
      menu:false,
      tagmenu:false,
      create:false
    }
  },
  created() {
    this.getRows()
  },
  watch: {
    $route(to, from) {
      this.getRows()
    },
    '$route.query.filter' (to, from) {
      if (this.$route.query.filter) {
        this.showtags = this.$route.query.filter.split(',')
      } else {
        this.showtags = []
      }
    }
  },
  methods: {
    getRows() {
      api().get('/category')
        .then(res => {
          this.tags = res.data
          if (this.$route.query.filter) {
            this.showtags = this.$route.query.filter.split(',')
            console.log(this.showtags);
          } else {
            this.showtags = []
          }
        })
        .catch((err) => {
          console.log(err);
        })
      api().get('/tag')
        .then(res => {
          this.cats = res.data
        })
        .catch((err) => {
          // console.log(err);
        })
    },
    deltag(del) {
      let arr = this.tags.indexOf(del)
      this.showtags.splice(arr, 1)
      this.$router.push('/product?filter=' + this.showtags)
    },
    category(){
      this.$store.commit('modalAssign', {
        open: true,
        size: 'tiny',
        component: () => import('./category'),
        input: { tags:this.tags}
      })
    }
  }
}
</script>

<style scoped="">
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
</style>
