<template>
<div class="ui segment">
  <div class="ui grid">
    <div class="eight wide column" style="max-height:450px">
      <div class="ui grid">
        <div class="three wide column" style="padding:14px 0px;overflow:hidden;max-height:450px">
          <div @click="prev()" style="cursor:pointer;background-color:rgb(255, 255, 255);display:inline-block;position:absolute;top:0px;z-index:1;max-height:20px;min-width: 120px;">
            <div align="center">
              <i class="big angle up icon"></i>
            </div>
          </div>
          <div @click="next()" style="cursor:pointer;background-color:rgb(255, 255, 255);display:inline-block;position:absolute;bottom:0px;z-index:1;max-height:20px;min-width: 120px;">
            <div align="center">
              <i class="big angle down icon"></i>
            </div>
          </div>
          <div ref="divscroll" style="overflow-y:scroll;max-height:450px">
          <div class="ui image" v-for="(n, index) in show.image">
            <img ref="image" :src="n.name" style="margin-top:10px;padding:0px 5px" @click="img = n.name">
          </div>
          </div>
        </div>
        <div class="thirteen wide column">
          <div class="ui shape">
            <img :src="img" class="ui large image" style="max-height:400px;max-width:300;">
          </div>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui divided selection list">
        <a class="item">
          <div class="ui red horizontal label">NAME</div>
          {{ product.name }}
        </a>
        <a class="item">
          <div class="ui blue horizontal label">DETAIL</div>
          {{ product.detail }}
        </a>
        <a class="item">
          <div class="ui yellow horizontal label">PRICE</div>
          {{ product.price }}
        </a>
        <div class="item">
          <div v-for="tag in product.tags" class="ui black horizontal basic label" style="border:0px"><a><i class="tags icon"></i>{{tag.name}}</a></div>
        </div>
      </div>
      <div class="fluid ui vertical animated red button" @click="addBasket" tabindex="0">
        <div class="hidden content">Add to basket</div>
        <div class="visible content">
          <i class="shop icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
</template>



<script>
import api from '@/plugins/api'
import  { mapGetters } from 'vuex'
export default {
  name: 'editproduct',
  validator(data) {
    return /^\d+$/,test(data.params.id)
  },
  data() {
    return {
      id: this.$route.params.id,
      product: {},
      img:'',
      error: '',
      pointscroll:1
    }
  },
  created() {
    this.getRow()
  },
  computed: {
    ...mapGetters([ 'show'])
  },
  watch: {
    $route(to, from) {
      this.getRow()
    }
  },
  methods: {
    getRow() {
      api().get('/product/' + this.$route.params.id)
        .then(res => {
          this.$store.commit('showAssign',res.data)
          this.product = this.show
          this.img = this.product.image[0].name
        })
        .catch((error) => {
          this.error = error.response
        });
    },
    addBasket() {
      let basket = JSON.parse(localStorage.getItem('basket')) || []
      if (basket.length != 0) {
        for (var i = 0; i < basket.length; i++) {
          if (basket[i].id == this.product._id) {
            this.$router.push('/product')
            return;
          }
        }
      }
      let item = {
        id: this.product._id,
        name: this.product.name,
        img: this.product.image[0].name,
        price: this.product.price,
        amount: 1,
      }
      basket.push(item)
      this.$store.commit('basketAssign', basket)
      this.$router.push('/product')
    },
    prev() {
      if (this.pointscroll > 1 && this.pointscroll <= this.product.image.length ) {
        this.pointscroll--
        this.$refs.divscroll.scrollTo({top: this.$refs.image[this.pointscroll].y, behavior: 'smooth'});
      }
      console.log(this.pointscroll);
    },
    next() {
      if (this.pointscroll >= 1 && this.pointscroll < this.product.image.length ) {
        this.pointscroll++
        this.$refs.divscroll.scrollTo({top: this.$refs.image[this.pointscroll].y, behavior: 'smooth'});
      }
      console.log(this.pointscroll);
    }
  }
}
</script>

<style scoped>
div ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
    -webkit-appearance: none;
  }
</style>
