<template>
  <div class="">
    <div class="ui divided selection list" style="margin:0px 30px">
    <a class="item" style="padding:0px">
    <div class="ui red horizontal large label"><i class="star yellow icon"></i>New</div>
    #Products
    </a>
    </div>
<div class="ui basic segment widthscroll" style="overflow:scroll;max-height:500px;width:auto;white-space: nowrap;padding:0px;margin:0px 0px 0px 10px">
  <!-- <div class="ui link cards"> -->
    <div v-for="product in item" class="ui link card" style="display:inline-block;margin:18px" @click="showdetail(product._id)">
      <div class="image" style="max-height: 380px;overflow:hidden;min-height: 380px;">
        <img class="verticalalignmiddle" :src="product.image[0].name">
      </div>
      <div class="content">
        <div class="header">{{product.name}}</div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
</template>

<script>
export default {
  props: ['item'],
  name: 'producthome',
  methods:{
    showdetail(id) {
      this.$router.push('/product/' + id)
    },
  }
}
</script>
