<template>
<div class="ui grid " style="padding-top:10px">
  <div class="sixteen wide column">
    <div v-if="item.length === 0" class="column" align="center" style="margin: 200px 0px;">
      <h1>No results</h1>
      <h4>This page don't has Information ?</h4>
    </div>
    <div class="row" style="padding:10px" v-for="product in item">
      <div class="ui link card" style="width:100%">
        <div class="ui grid" style="padding:10px;">
          <div class="four wide column">
            <div class="image" style="max-height: 200px;overflow:hidden;min-height: 200px;">
              <div class="ui segment" style="margin:0px;min-height:200px;" v-show="loadimg">
                <div class="ui active loader" style="z-index:1"></div>
              </div>
              <img class="verticalalignmiddle" v-show="!loadimg" @load="loadimg = false" :src="product.image[0].name" style="max-height: 200px;max-width: 200px;min-width: 200px" @click="showdetail(product._id)">
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui yellow statistic">
              <div class="text value" style="min-height:1em">
                {{product.name}}
              </div>
            </div>
            <div class="content" style="max-width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: normal;line-height: 15px;max-height: 45px;min-height:45px">
              {{product.detail}}
            </div>
            <div class="ui red labels">
              <a class="ui label" v-for="tag in product.tags">
                <i class="tags icon"></i>{{tag.name}}
              </a>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui horizontal red statistic verticalalignmiddle">
              <div class="value">{{product.price}}</div>
              <div class="label">Bath</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>



<script>
import api from '@/plugins/api'
import {
  mapGetters
} from 'vuex'
export default {
  name: 'horizon',
  data() {
    return {

    }
  },
  computed: {
    ...mapGetters(['item'])
  }
}
</script>
