<template>
<div class="ui grid" style="margin-top:0px">
  <div class="sixteen wide column" style="padding:0px;margin-top:15px">
    <div v-if="loading" class="ui grid" style="margin:0px 10px">
      <div class="four wide computer sixteen wide mobile column" v-for="loadd in loadtem">
        <div class="ui raised segment">
          <div class="ui placeholder">
            <div class="image">
              <div class="ui active centered inline loader" style="margin-top:55px;z-index:1;"></div>
            </div>
            <div class="paragraph">
              <div class="medium line"></div>
              <div class="short line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="ui four column stackable grid" style="margin:0px 10px;">
      <div v-if="item.length === 0" class="column" align="center" style="margin: 200px 0px 200px 40%;">
        <h1>No results</h1>
        <h4>This page don't has Information ?</h4>
      </div>
      <div v-for="product in item" class="column" style="margin-top:0px;">
        <item :product="product"></item>
      </div>
      <button class="fluid ui yellow button">Load more information</button>
    </div>
  </div>
</div>
</div>
</template>


<script>
import api from '@/plugins/api'
import { mapGetters } from 'vuex'
import item from './item'

export default {
  name: 'items',
  components: {item},
  data() {
    return {
      loading: true,
      loadtem: [],
      error:''
    }
  },
  created() {
    this.loadd(),
      this.getRows()
  },
  watch: {
    $route(to, from) {
      this.getRows()
    }
  },
  computed: {
    ...mapGetters(['item'])
  },
  methods: {
    getRows() {
      this.error = ''
      let filter = this.$route.query.filter
      let idStore = this.$route.params.id
      let search = this.$route.query.search
      let uri = ''
      if(filter){
        uri = '/product/category/' + filter
      }else if(search) {
        uri = '/product/search/' + search
      }else if(idStore){
        uri = '/product/store/' + idStore
      }else {
        uri = '/product'
      }
      api().get(uri)
      .then(res => {
        this.loading = false
        this.$store.commit('itemAssign', res.data.data)
      })
      .catch((err) => {
        console.log(err);
      })
    },
    loadd() {
      for (var i = 0; i < 12; i++) {
        this.loadtem.push({})
      }
    },

  }
}
</script>
