<template>
  <div class="">
    <div class="sides" align="center">
      <div class="active side">
        <div class="ui link card">
          <div class="content" style="padding:10px 14px 4px">
            <i class="right floated link icons" @click="addBasket">
              <i class="shopping basket yellow icon"></i>
              <i class="top right corner add red icon" style="text-shadow:none"></i>
            </i>
            <i v-if="rolescheck.edit" class="right floated link cog loading red inverted icon" @click="edit(product)"></i>
            <div align="left"><img class="ui avatar tiny image" src="@/static/capture.png"><a style="color:#000000 !important">{{product.store[0].name}}</a></div>
          </div>
          <div class="image" style="max-height: 300px;overflow:hidden;min-height: 300px;">
            <div class="ui segment" style="margin:0px;min-height:300px;" v-show="loadimg">
              <div class="ui active loader" style="z-index:1"></div>
            </div>
            <img class="verticalalignmiddle" v-show="!loadimg" @load="loadimg = false" :src="product.image[0].name" style="max-height: 300px;" @click="showdetail(product._id)">
          </div>
          <div class="content" @click="showdetail(product._id)" style="padding:5px">
            <div class="header ellipsis">{{ product.name }}</div>
          </div>
          <div class="extra content" @click="showdetail(product._id)" style="padding:5px;border-top-color:rgb(251, 189, 4) !important;">
            <div class="ui grid" style="margin:auto">
              <div class="sixteen wide column" style="padding:0px">
                <div align="left">
                <div class="ui mini horizontal red statistic">
                  <div class="value">
                    {{ formatprice().formatCurrency(product.price) }}
                  </div>
                  <div class="label">
                    Bath
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
</template>

<script>
import formatData from '@/assets/js/utils/formatData.js'
import api from '@/plugins/api'
import  { mapGetters } from 'vuex'
export default {
  name:'item',
  props: ['product'],
  data() {
    return {
      loadimg: true,
      store:'',
      rolescheck: { admin:false,add:false,edit:false,delete:false }
    }
  },
  created() {
      this.getRows()
  },
  computed: {
    ...mapGetters([ 'auth' , 'modal'])
  },
  methods: {
    getRows() {
      api().get('/contact/store/' + this.product.store[0]._id)
        .then(res => {
           this.store = res.data
           this.checkroles()
        })
        .catch((err) => {
          console.log(err);
        });
    },
    formatprice(){
      return formatData
    },
    showdetail(id) {
      this.$router.push('/product/' + id)
    },
    edit(obj) {
      this.$store.commit('modalAssign', {
        open: true,
        size: 'medium',
        component: () => import('../edit'),
        input: obj
      })
    },
    checkroles() {
      let user = this.store.user
      for (let n = 0; n < user.length; n++) {
        if (user[n]._id2 === this.auth._id) {
          this.rolescheck.admin = true
          for (let m = 0; m < user[n].roles.length; m++) {
            this.rolescheck[user[n].roles[m]] = true
          }
          return
        }
      }
      this.rolescheck.admin = false
    },
    addBasket() {
      let basket = JSON.parse(localStorage.getItem('basket')) || []
      if(basket.length != 0){
        for(var i = 0; i < basket.length; i++){
          if(basket[i].id == this.product._id){
            this.$router.push('/product')
            return;
          }
        }
      }
      let item = {
        id: this.product._id,
        name: this.product.name,
        img: this.product.image[0].name,
        price: this.product.price,
        amount: 1,
      }
      basket.push(item)
      this.$store.commit('basketAssign', basket)
      this.$router.push('/product')
    }
  }
}
</script>

<style lang="css" scoped>
</style>
