<template>
<div class="ui form  dimmer modals page transition visible active" style="display: flex !important;animation-name: fadeIn;animation-duration: 0.5s;">
  <div class="ui standard test modal scrolling transition visible active" style="display: block !important;width:40%">
    <div class="ui segment">
        <h1>Create Store</h1>
        <input type="text" v-model="name" placeholder="Store name...">
        <br><br>
        <input type="text" v-model="type" placeholder="Type...">
        <br><br>
      <div class="ui red button" @click="close">Cancel</div>
      <div class="ui right floated yellow button" @click="newstore">Create</div>
    </div>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
export default {
  data() {
    return {
      name:'',
      type:'',
      errors:[]
    }
  },
  methods: {
    close() {
      this.$emit("close", false)
    },
    newstore() {
      if(this.name && this.type !== ''){
        let data = {
          name:this.name,
          shoptype:this.type
          }
          api().post('/contact/store', data)
          .then((res) => {
            this.$emit("close", false)
            api().get('/share/' + this.$route.params.id)
              .then(res => {
                this.$store.commit('storeAssign', res.data)
              })
              .catch((error) => {
                this.error = error.response
              });
          })
          .catch((err) => {
            this.errors = err.response.data.errors || err.response.data
          })
      }
    }
  }
}

</script>
