<template>
<div>
  <checkdel v-if="confrom" @close="close"></checkdel>
  <div class="ui basic segment">

  <div align="right">
    <div class="ui black labeled icon button" @click="open">
      Create New Store
      <i class="add yellow icon"></i>
    </div>
  </div>
  <!-- <pre>{{stores[0].store}}</pre> -->
  <div class="ui segment" style="padding:1em 1em;" v-for="(store, index) in stores">
    <div class="ui grid">
      <div class="row">
        <div class="seven wide column">
          <img class="ui middle aligned small image" :src="store.store[0].picture" style="padding:0em 1em;">
          {{ store.store[0].name }}
          ({{ store.store[0].shoptype }})
        </div>
        <div class="nine wide column">
          <div align="right">
            <div class="ui button" style="padding:0px;" @click="show(store.store[0])">
              <button class="ui yellow button" style="margin:0px">
                <i class="utensil spoon icon"></i>
                Store
              </button>
            </div>
            <button class="ui red icon button" @click="confrom = true; id = store.store[0]._id">
              <i class="trash icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
import api from '@/plugins/api'
import checkdel from '../models/delete'
import { mapGetters } from 'vuex'
export default {
  name: 'shop',
  data() {
    return {
      id: '',
      confrom: false
    }
  },
  created() {
    this.getRow()
  },
  computed: {
    ...mapGetters(['auth', 'stores'])
  },
  components: {
    checkdel
  },
  methods: {
    getRow() {
      api().get('/share/' + this.$route.params.id)
        .then(res => {
          this.$store.commit('storeAssign', res.data)

        })
        .catch((error) => {
          this.error = error.response
        });
    },
    open() {
      this.$emit("close", true)
    },
    close(check) {
      if (check === false) {
        this.confrom = check
      } else {
        api().delete('/contact/' + this.id)
          .then(res => {
            console.log('success');
            this.confrom = false
            this.getRow()
          })
          .catch((error) => {
            this.error = error.response
          });
      }
    },
    show(obj) {
      this.$router.push('/store/'+obj._id)
    },
  }
}

</script>
