<template>
<div class="content scrolling">
  <div class="ui segment basic">
    <h1>Roles</h1>
    <h4>assign a new role</h4>
    <autocomplete v-if="input._id === ''" @global-event="getContact" :name="input.name" :options="{ uri: '/contact/store/' + $route.params.id + '/contact' }"></autocomplete>
    <div v-else class="fluid ui input"><input type="text" readonly :value="input.name"></div>
    <br>
    <div class="ui floating labeled icon dropdown black button" @click="dropdown">
      <i class="add user yellow icon"></i>
      <span class="text">{{indexRoles === 0 ? 'Select Role': indexRoles === 3 ? 'Staff': indexRoles === 2 ? 'Manager': 'Owner'}}</span>
      <div :class="styledropdown" id="dropdown">
        <div class="item" @click="input.roles = ['add'];indexRoles = 3">
          <!-- <img class="ui avatar image" src="/images/avatar/small/jenny.jpg"> -->
          Staff
        </div>
        <div class="item" @click="input.roles = ['add','edit'];indexRoles = 2">
          <!-- <img class="ui avatar image" src="/images/avatar/small/jenny.jpg"> -->
          Manager
        </div>
        <div class="item" @click="input.roles = ['add','edit','delete'];indexRoles = 1">
          <!-- <img class="ui avatar image" src="/images/avatar/small/jenny.jpg"> -->
          Owner
        </div>
      </div>
    </div>
    <div v-if="input._id != ''" class="ui red button"><i class="trash icon"></i>Delete</div>
    <div v-if="input._id === ''" class="ui right floated blue button" @click="assign(input)">Assign</div>
      <div v-else class="ui right floated blue button" @click="edit(input)">Save Edit</div>
  </div>
</div>
</template>



<script>
import api from '@/plugins/api'
import autocomplete from '../autocomplete'
import {
  mapGetters
} from 'vuex'

export default {
  name: 'roles',
  data() {
    return {
      styledropdown: 'menu transition hidden'
    }
  },
  // created() {
  //   this.getRow()
  // },
  components: {
    autocomplete
  },
  computed: {
    ...mapGetters(['auth', 'modal']),
    input() {
      console.log(this.modal.input);
        if (this.modal.input.roles.length === 3) {
          this.indexRoles = 1
        } else if (this.modal.input.roles.length === 2) {
          this.indexRoles = 2
        } else if (this.modal.input.roles.length === 1){
          this.indexRoles = 3
        } else {
          this.indexRoles = 0
        }
      return this.modal.input
    }
  },
  methods: {
    getContact(cb) {
      this.input.name = cb.name
      this.input._id2 = cb._id
    },
    // getRows(){
    //   api().get('/share')
    //   .then(res => {
    //
    //   })
    //   .catch((error) => {
    //
    //   });
    // },
    assign(input) {
      Object.assign(input, {
        _id1: this.$route.params.id
      })
      delete input['_id']
      api().post('/share', input)
        .then(res => {
          this.assignNew()
        })
        .catch((err) => {
          console.log(err);
        });
    },
    assignNew() {
      api().get('/contact/store/' + this.$route.params.id).then(res => {
          this.$store.commit('showAssign', res.data)
          this.$store.commit('modalAssign', {
            open: false,
            input: {}
          })
        })
        .catch((err) => {
          console.log(err);
        })
    },
    dropdown() {
      if (this.styledropdown == 'menu transition hidden') {
        this.styledropdown = "menu transition visible"
      } else {
        this.styledropdown = 'menu transition hidden'
      }
    },
    edit(input) {
      api().put('/share/' + input._id, input)
        .then(res => {
          this.editrole()
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editrole(){
      api().put('/contact/store/' + this.$route.params.id).then(res => {
          this.$store.commit('showAssign', res.data)
          this.$store.commit('modalAssign', {
            open: false,
            input: {}
          })
        })
        .catch((err) => {
          console.log(err);
        })
    },
    // del() {
    //   api().delete('/share/' + input._id, input)
    //     .then(res => {
    //       this.delrole()
    //     })
    //     .catch((err) => {
    //       console.log(err);
    //     });
    // },
    // delrole(){
    //
    // }
  }
}
</script>
