<template>
<div>
  <div class="ui grid">
    <div class="two column row">
      <div class="sixteen wide column" style="padding:0px">
        <div class="ui inverted yellow segment" style="margin-top:-2px;height:200px">
          <div class="ui header" style="position:absolute;transform: translate(25%, 20%);z-index:14  ">
            <img :src="show.picture" class="ui image" style="height:190px;width:auto;border:solid 5px rgb(255, 255, 255)">
          </div>
        </div>
      </div>
    </div>
    <div v-if="rolescheck.admin" class="row hidescroll" style="margin:40px 0px 0px 30px;padding:0px;overflow:scroll">
      <div class="ui secondary menu">
        <a v-if="rolescheck.edit" class="item" @click="formitem = !formitem;formedit = !formedit"><i class="edit icon"></i>EDIT STORE</a>
        <a v-if="rolescheck.delete" class="item" @click="showroles"><i class="users icon"></i>ADD ROLES</a>
        <a v-if="rolescheck.add" class="item" @click="showcreate"><i class="plus icon"></i>ADD PRODUCT</a>
        <a v-if="rolescheck.edit" class="item"><i class="cog icon"></i>EDIT PRODUCT</a>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column" style="padding:0px">
        <div class="ui yellow segment">
          <itemform v-if="formitem"></itemform>
          <editform v-if="formedit"></editform>
        </div>
      </div>
      <!-- <div class="four wide column">
        <div class="ui segment">
          <i class="check square green large icon"></i>
          <br>
          <i class="window close red large icon"></i>
        </div>
      </div> -->
    </div>
  </div>
</div>
</template>


<script>
import api from '@/plugins/api'
import itemform from '../product/items'
// import itemform from '../product/items'
import editform from './edit'
import {
  mapGetters
} from 'vuex'

export default {
  data() {
    return {
      formitem: true,
      formedit: false,
      rolescheck: {
        admin: false,
        add: false,
        edit: false,
        delete: false
      }
    }
  },
  computed: {
    ...mapGetters(['stores', 'auth', 'modal', 'show'])
  },
  components: {
    itemform,
    editform
  },
  created() {
    this.getRow()
  },
  watch: {
    $route(to, from) {
      this.getRow()
    }
  },
  methods: {
    getRow() {
      api().get('/contact/store/' + this.$route.params.id)
        .then(res => {
          this.$store.commit('showAssign', res.data)
          // console.log(this.$store.getters.show);
          this.checkroles()
        })
        .catch((error) => {
          this.error = error.response
        });
    },
    checkroles() {
      let user = this.show.user
      for (let n = 0; n < user.length; n++) {
        if (user[n]._id2 === this.auth._id) {
          this.rolescheck.admin = true
          for (let m = 0; m < user[n].roles.length; m++) {
            this.rolescheck[user[n].roles[m]] = true
          }
          return
        }
      }
      this.rolescheck.admin = false
    },
    showcreate() {
      this.$store.commit('modalAssign', {
        open: true,
        size: 'small',
        component: () => import('../product/create'),
        input: {}
      })
    },
    showroles() {
      let input = {
        _id: '',
        name: '',
        roles: []
      }
      this.$store.commit('modalAssign', {
        open: true,
        size: 'tiny',
        component: () => import('./roles'),
        input: input
      })
    }
  }
}
</script>
