<template>
<div class="ui grid" style="padding:20px;">
  <div class="four wide column computer only">
    <div class="ui secondary vertical pointing menu">
      <a v-for="(i, index) in hmenu" :class="{'item': true, 'active': i}" @click="swapHmenu(index)">{{index}}</a>
    </div>
  </div>
  <div class="twelve wide computer sixteen wide mobile column">
    <rolesform v-if="hmenu.Roles"></rolesform>
    <dataform v-if="hmenu.Information"></dataform>
  </div>
</div>
</template>


<script>
import api from '@/plugins/api'
import dataform from './information'
import rolesform from './roles'
export default {
  data() {
    return {
      hmenu: {
        Roles: true,
        Information: false
      }
    }
  },
  components: {
    dataform,
    rolesform
  },
  methods: {
    swapHmenu(index) {
      for (let i in this.hmenu) {
        if (i === index) {
          this.hmenu[i] = true
        } else {
          this.hmenu[i] = false
        }
      }
    },
  }
}
</script>
