<template>
<div>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <h5>Address</h5>
        <div class="fluid ui input">
          <input v-model="input.address" type="text" placeholder="Address">
        </div>
      </div>
    </div>
    <div class="row" style="padding:0px 14px">
      <h5>Contact</h5>
    </div>
    <div class="row">
      <div class="six wide column">
        <div class="fluid ui input">
          <input v-model="input.telephone" type="text" placeholder="Telephone">
        </div>
      </div>
      <div class="ten wide column">
        <div class="fluid ui input" style="margin-left:10px;">
          <input v-model="input.email" type="text" placeholder="E-mail">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h5>Website</h5>
        <div class="fluid ui input">
          <input v-model="input.website" type="text" placeholder="Website">
        </div>
      </div>
      <div class="eight wide column">
        <h5>Line@</h5>
        <div class="fluid ui input">
          <input v-model="input.line" type="text" placeholder="Line@">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h5>Facebook Page</h5>
        <div class="fluid ui input">
          <input v-model="input.facebook" type="text" placeholder="Facebook Page">
        </div>
      </div>
      <div class="eight wide column">
        <h5>Instagram</h5>
        <div class="fluid ui input">
          <input v-model="input.instagram" type="text" placeholder="Instagram">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h5>Description</h5>
        <textarea v-model="input.description" type="text" rows="6" style="width:100%;resize:none;"></textarea>
      </div>
    </div>
    <div class="sixteen wide column computer only">
      <h5>Opening time</h5>
      <div class="row" v-for="(day, i) in daywork" style="margin-top:5px;height:35px">
        <a style="user-select:none;outline:none" tabindex="1" :title="day.name" :class="{'ui large circular label':true,'red':!day.status,'green':day.status}" @click="day.status = !day.status">{{day.name[0]}}</a>
        <div :class="{'transition slide right overlay': true, 'out visible': !day.status, 'in visible': day.status}" :style="{'animation-duration':'0.4s',display: 'inline-block !important'}">
          <!-- <div :class="{'ui small input':true,'disabled':!day.status}" style="margin-left:10px">
            <input v-model="day.open" type="time" placeholder="Open...">
          </div>
          <i class="icon mediumn grey minus"></i>
          <div :class="{'ui small input':true,'disabled':!day.status}" style="margin-left:0px">
            <input v-model="day.close" type="time" placeholder="Close...">
          </div> -->
          <autocomplete @global-event="" :name="day.close" :options="{ obj: [{name: 'fkdsja'}, {name: 'fjdkal;'}]}" style="width:100px;"></autocomplete>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="fluid ui right floated yellow button" @click="getdata(input)">SAVE</div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import api from '@/plugins/api'
import autocomplete from '../../autocomplete'
import {
  mapGetters
} from 'vuex'
export default {
  name: 'information',
  computed: {
    ...mapGetters(['show']),
    input() {
      this.daywork = (this.show.daywork || [{
        status: false,
        name: 'Sunday',
        open:'',
        close:''
      }, {
        status: false,
        name: 'Monday',
        open:'',
        close:''
      }, {
        status: false,
        name: 'Tuesday',
        open:'',
        close:''
      }, {
        status: false,
        name: 'Wednesday',
        open:'',
        close:''
      }, {
        status: false,
        name: 'Thursday',
        open:'',
        close:''
      }, {
        status: false,
        name: 'Friday',
        open:'',
        close:''
      }, {
        status: false,
        name: 'Saturday',
        open:'',
        close:''
      }])
      return this.show
    }
  },
  components: { autocomplete },
  data() {
    return {
      daywork: [],
    }
  },
  methods: {
    getdata(data) {
      Object.assign(data, {
        daywork: this.daywork
      })
      api().put('/contact/store/' + this.$route.params.id, data)
        .then((res) => {
          this.$store.commit('showAssign', res.data)
        })
        .catch((err) => {

        })
      console.log(data);
    },
  }
}
</script>
