<template>
<div>
  <div class="ui yellow message">
  <i class="star icon"></i>
  Don't forget that many users can play different roles. In your store But each user must have their own personal account
</div>
<div class="ui items" v-for="(x, index) in show.user">
  <div class="item">
    <a class="ui tiny image">
      <img src="@/static/human.png">
    </a>
    <div class="content">
      <a class="header">{{x.name}}</a>
      <div class="description">
        <p>roles</p>
      </div>
    </div>
    <div class="ui yellow button" style="max-height:35px" @click="showroles(x)"><i class="cog icon"></i>Edit</div>
  </div>
</div>
</div>
</template>

<script>
import api from '@/plugins/api'
import { mapGetters } from 'vuex'

export default {
  name:'roles',
  data() {
    return {
      roles:{}
    }
  },
  created() {
    this.getRows()
  },
  computed: {
    ...mapGetters(['auth', 'show'])
  },
  methods:{
    getRows() {
      api().get('/contact/store/' + this.$route.params.id).then(res => {
        this.$store.commit('showAssign', res.data)
      })
      .catch(err => {
        this.errors = err.response
      })
    },
    showroles(obj) {
      let input = { _id: obj._id, name: obj.name, roles: obj.roles }
      this.$store.commit('modalAssign', {
        open: true,
        size: 'tiny',
        component: () => import('../roles'),
        input: input
      })
    }
  }
}
</script>
