<template>
<div class="ui inverted vertical footer segment" style="border-top: 2px solid rgb(250,200,0); background: rgb(0, 0, 0);margin-bottom:0px;">
  <div class="ui horizontal divided list">
    <div class="item">
      <a href="/contact/us" style="color: rgb(250, 250, 152);">Contact us</a>
    </div>
    <div class="item">
      <a href="/product" style="color: rgb(250, 250, 152);">Product</a>
    </div>
    <div class="item">
      <a href="/tag" style="color: rgb(250, 250, 152);">Tag</a>
    </div>
  </div>
  <h5 class="ui header" style="color: rgb(250, 250, 152); margin-top: 0px; font-weight: normal;">©2019 heydudecafe.com All right reserved.</h5>
</div>
</template>
