<template>
<div id="nav" class="ui grey inverted large top fixed menu" style="background-color:rgb(0,0,0);border-bottom: 2px solid rgb(250,200,0);width:100%;height:0%">
  <div class="ui grid" style="width: 100%;">
    <div class="one wide computer two wide tablet three wide mobile column" style="padding:10px 0px;">
      <div class="ui dropdown item" tabindex="0" style="padding:15px 18px 13px 18px;" @click="menu = !menu;showmenu()">
        <i class="large icon yellow align justify" style="margin-left:12px"></i>
      </div>
      <div :class="{'ui vertical inverted sidebar menu left overlay':mm, 'visible':menu, 'animating':!menu}" :style="{'border':'none','animation-duration': '0.4s',display: (mm ? 'block !important' : 'none')}">
        <a class="item" align="right" style="background-color:rgb(0,0,0);border-bottom: 2px solid rgb(250,200,0);padding:12px">
          <h5 @click="close" class="ui header yellow"><i class="icon yellow align justify"></i></h5>
        </a>
        <router-link :to="'/'" class="item pt router-link-exact-active router-link-active">
          <h3 class="ui header yellow"><i class="home icon"></i>Home</h3>
        </router-link>
        <div ref="searchForm" @keydown.enter="search" class="fluid ui left icon input" style="padding:0px 10px">
          <i class="search icon" style="margin-left:10px"></i>
          <input v-model="inputsearch" type="text" placeholder="Search...">
        </div>
        <div class="item" style="padding:13px 16px 0px" @click="accord = !accord;acc = !acc">
          <h4 class="ui header yellow" style="display:inline-block">Products</h4>
          <i :class="{'angle right':accord, 'angle down':!accord, 'yellow icon':true}"></i>
        </div>
        <div :class="{'transition slide down': true, 'out visible': !acc, 'in visible': !accord}" :style="{'animation-duration':'0.4s',display: (acc ? 'block':'none !important')}">
          <div class="menu">
            <a class="item" @click="$router.push('/product')">All Product</a>
          </div>
          <div class="menu" v-for="type in types">
            <a @click="catselect(type.name)" :class="{'item': true, 'active': tags.includes(type.name)}">
              {{ type.name }}
            </a>
          </div>
        </div>
        <div class="item">
          <h4 class="ui header yellow">Contact</h4>
          <div class="menu">
            <a href="/blog" class="item">
              <i class="facebook icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="two wide computer three wide tablet column  computer tablet only" style="padding:7px 0px;">
      <router-link :to="'/'" style="padding:18px 17px 10px 35px;" class="item cpt"><b><i class="large icon yellow home"></i>HOME</b></router-link>
    </div>
    <div class="two wide computer four wide tablet column computer tablet only" style="padding:7px 0px;">
      <router-link :to="'/product'" style="padding:18px 17px 10px 35px;" class="item cpt"><b><i class="large icon yellow utensils"></i>All Product</b></router-link>
    </div>
    <div class="eight wide computer one wide tablet column computer tablet only">
    </div>
    <div class="one wide computer two wide tablet three wide mobile column" style="padding:7px 0px">
      <router-link :to="'/basket'" class="item cpt" tabindex="0" style="padding:20px 18px 8px 18px;">
        <div class="item" style="padding:0px">
          <i class="large icon yellow shopping basket"></i>
          <a class="floating ui mini circular red label inbox">{{basket.length}}</a>
          <!-- <a class="floating ui mini circular red label inbox">{{products.reduce((pre, cur) => pre + parseFloat(1 * cur.amount), 0)}}</a> -->
        </div>
      </router-link>
    </div>
    <div class="three wide mobile column mobile only">
    </div>
    <div class="two wide computer three wide tablet seven wide mobile column" style="padding:7px 0px;">
      <div class="right menu">
        <div class="ui link item" style="width:100%;height:100%;padding:14px 40px" @click="login" v-if="nameUser.name === ''">
          <h4><i class="large user yellow icon"></i>Sing in</h4>
        </div>
        <!-- Signin -->
        <!-- <div class="ui dropdown item" tabindex="0" style="padding:0px;" v-if="nameUser.name == ''">
          <div class="" @click="dropdown" style="width:100%;height:100%;padding:14px 42px;">
            <i class="large icon yellow sign-in"></i>
            <h4 style="display: inline-block;margin:0px">Sign In</h4>
            <i class="dropdown yellow icon"></i>
          </div>
          <div :class="styledropdown" id="dropdown" style="border:none;border-radius:.28571429rem;">
            <div class="ui segment" style="background-color:rgb(0,0,0);border-top: 2px solid rgb(250,200,0);">
              <div class="column grid">
                <div class="row">
                  <div class="fluid ui pointing below red label" v-if="errors.hasOwnProperty('message')">
                    {{ errors.message }}
                  </div>
                </div>
                <div class="row">
                  <div class="fluid ui left icon input">
                    <input @keydown.enter="signin" type="email" placeholder="E-mail address" v-model="umail">
                    <i class="user icon"></i>
                  </div>
                </div>
                <div class="fluid ui pointing  red basic  label" v-if="errors.hasOwnProperty('email')">
                  {{ errors.email[0] }}
                </div>
                <div class="row" style="margin-top:5px;">
                  <div class="fluid ui left icon input">
                    <input @keydown.enter="signin" type="password" placeholder="Password" v-model="upass">
                    <i class="lock icon"></i>
                  </div>
                </div>
                <div class="fluid ui pointing red basic label" v-if="errors.hasOwnProperty('password')">
                  {{ errors.password[0] }}
                </div>
                <div class="row" style="margin-top:10px;">
                  <div type="submit" class="fluid ui submit yellow  button" @click="signin">SIGN IN</div>
                </div>
                <div class="row" style="margin-top:10px;">
                  <div class="fluid ui  yellow inverted buttons">
                    <a href="/register" class="ui button">REGISTER</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Logout -->
        <div class="ui top right pointing dropdown item" tabindex="0" style="padding:0px;" v-else>
          <div v-outside="dropclose" @click="usermenu = !usermenu" style="width:100%;height:100%;padding:18px 18px 10px 18px;">
            <img :src="nameUser.picture" class="ui circular image" style="height:22px;width:auto;display: inline-block">
            <div class="ellipsis" style="display: inline-block;min-width: 90px;">
              {{ nameUser.name }}
            </div>
            <i class="dropdown yellow icon"></i>
          </div>
          <div :class="{'ui menu transition slide down':true,'in':usermenu,'out':!usermenu}" style="animating:0.2s;display:block !important;border-radius:.28571429rem;margin:-5px 10px 0px 0px">
            <a class="item" @click="linkprofile">Profile</a>
            <!-- <div class="item"> -->
              <!-- <div class="header">Grouped Section</div> -->
              <!-- <div class="menu" style="display:block"> -->

                <a class="item" v-for="(i, index) in stores" @click="show(i.store[0])">{{i.store[0].name}}</a>
              <!-- </div> -->
            <!-- </div> -->
            <a class="item" @click="logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
</template>


<script>
import api from '@/plugins/api'
import outside from '@/assets/js/utils/outside'
import {
  mapGetters
} from 'vuex'
export default {
  name: 'nev',
  data() {
    return {
      usermenu: false,
      menu: false,
      mm: true,
      umail: '',
      upass: '',
      message: '',
      inputsearch: '',
      types: [],
      tags: [],
      errors: {},
      profile: {},
      products: JSON.parse(sessionStorage.getItem('basket')) || [],
      accord: false,
      acc: true
    }
  },
  computed: {
    ...mapGetters(['auth', 'stores', 'share', 'basket']),
    nameUser() {
      return this.auth
    },
  },
  directives: {
    outside
  },
  created() {
    this.getRows()
  },
  watch: {
    $route(to, from) {
      this.getRows()
    },
    '$route.query.filter'(to, from) {
      if (this.$route.query.filter) {
        this.tags = this.$route.query.filter.split(',')
        let i = this.tags.indexOf('PdName')
        if (i > -1) {
          this.tags.splice(i, 2)
        }
      } else {
        this.tags = []
      }
    }
  },
  methods: {
    getRows() {
      api().get('/category')
        .then(res => {
          this.types = res.data
        })
        .catch((err) => {
          console.log(err);
        })
    },
    catselect(type) {
      if (!this.tags.includes(type)) {
        this.tags.push(type)
        let filter = []
        if (this.$route.query.filter) {
          filter = this.$route.query.filter.split(",")
        }
        filter.push(type)
        this.$router.push('/product?filter=' + filter)
      } else {
        if (this.$route.query.filter) {
          let filter = this.$route.query.filter.split(",")
          let arr = this.tags.indexOf(type)
          this.tags.splice(arr, 1)
          filter.splice(arr, 1)
          this.$router.push('/product?filter=' + filter);
        }
      }
    },
    dropclose() {
      this.usermenu = false
    },
    showmenu() {
      if (this.mm === false) {
        this.mm = true
      }
    },
    close(e) {
      if (!this.$refs.searchForm.contains(e.target)) {
        this.menu = false
        if (this.mm === false) {
          this.mm = true
        }
      }
    },
    logout() {
      this.$store.commit('authLogout')
      this.$store.commit('authShare', [])
      this.$router.push('/')
    },
    linkprofile() {
      this.$router.push('/profile/' + this.auth._id)
    },
    show(obj) {
      this.$router.push('/store/' + obj._id)
    },
    search() {
      if (this.inputsearch) {
        this.$router.push('/search?search=' + this.inputsearch);
      }
    },
    login() {
      this.$store.commit('modalAssign', {
        open: true,
        size: 'tiny',
        component: () => import('../user/sign'),
        input: {}
      })
    }
  }
}
</script>
